Loading and creating the mme_dataset

In [2]:
import pandas as pd

# create a dataframe with only the ExtendedSessionID column from the 71M SharedResponses.csv file

reader2 = pd.read_csv('SharedResponses.csv', usecols=['ResponseID'])

ParserError: Error tokenizing data. C error: Calling read(nbytes) on source failed. Try engine='python'.

In [2]:
# code that will check if there are two of them in the dataset

# Count how many times each ResponseID appears
response_counts = reader2['ResponseID'].value_counts()

# Get the ResponseIDs that appear exactly twice
ids_to_keep = response_counts[response_counts == 2].index

# Filter the rows where ResponseID is in the list of ids_to_keep
complete_responseid = reader2[reader2['ResponseID'].isin(ids_to_keep)]

In [3]:
complete_responseid.value_counts().min()

2

In [4]:
complete_responseid.shape

(67907006, 1)

In [5]:
# Drop duplicates based on 'ResponseID' and keep the first occurrence
complete_responseid = complete_responseid.drop_duplicates(subset=['ResponseID'], keep='first')

In [6]:
reader_subset = complete_responseid.head(8500000)  # want 17M rows (with accounting for NAn's and deleting rows with 'random' (around 10%)), so 17M / 2 = 8.5M ResponseID's necessary

# taking the top 8,5 Million, as I assume the data in the set is random enough to not have a bias (like country) in the first 8,5M rows

In [7]:
# checking if they are all unique

reader_subset.nunique()

ResponseID    8500000
dtype: int64

In [8]:
# transform to a list to feed to the for loop that will extract all the corresponding columns from the SharedResponses.csv file

reader_sub_list = reader_subset['ResponseID'].tolist()

In [9]:
# check if it went okay
print(len(reader_sub_list))     # should be 8500000

8500000

In [10]:
# empty dataframe to append the rows of the sessions with 24 rows to

subset = pd.DataFrame()

In [11]:
# reading SharedResponses to extract the rows with ResponseID's in reader_sub_list
# this will result in a dataframe 'subset' that contains around 17 million rows (8,5 * 2)

chunk_size = 500_000
reader = pd.read_csv('SharedResponses.csv', chunksize=chunk_size, dtype=str, low_memory=False)

for i, chunk in enumerate(reader):
    
    print(f"Processing chunk {i+1}")

    # Filter rows where ResponseID is in reader_subset
    subset_chunk = chunk[chunk['ResponseID'].isin(reader_sub_list)]

    # Append filtered chunk to empty df
    subset = pd.concat([subset, subset_chunk], ignore_index=True)

    print(f"Finished processing chunk {i+1}")

print("All chunks have been processed and combined.")

Processing chunk 1
Finished processing chunk 1
Processing chunk 2
Finished processing chunk 2
Processing chunk 3
Finished processing chunk 3
Processing chunk 4
Finished processing chunk 4
Processing chunk 5
Finished processing chunk 5
Processing chunk 6
Finished processing chunk 6
Processing chunk 7
Finished processing chunk 7
Processing chunk 8
Finished processing chunk 8
Processing chunk 9
Finished processing chunk 9
Processing chunk 10
Finished processing chunk 10
Processing chunk 11
Finished processing chunk 11
Processing chunk 12
Finished processing chunk 12
Processing chunk 13
Finished processing chunk 13
Processing chunk 14
Finished processing chunk 14
Processing chunk 15
Finished processing chunk 15
Processing chunk 16
Finished processing chunk 16
Processing chunk 17
Finished processing chunk 17
Processing chunk 18
Finished processing chunk 18
Processing chunk 19
Finished processing chunk 19
Processing chunk 20
Finished processing chunk 20
Processing chunk 21
Finished processing chunk 21
Processing chunk 22
Finished processing chunk 22
Processing chunk 23
Finished processing chunk 23
Processing chunk 24
Finished processing chunk 24
Processing chunk 25
Finished processing chunk 25
Processing chunk 26
Finished processing chunk 26
Processing chunk 27
Finished processing chunk 27
Processing chunk 28
Finished processing chunk 28
Processing chunk 29
Finished processing chunk 29
Processing chunk 30
Finished processing chunk 30
Processing chunk 31
Finished processing chunk 31
Processing chunk 32
Finished processing chunk 32
Processing chunk 33
Finished processing chunk 33
Processing chunk 34
Finished processing chunk 34
Processing chunk 35
Finished processing chunk 35
Processing chunk 36
Finished processing chunk 36
Processing chunk 37
Finished processing chunk 37
Processing chunk 38
Finished processing chunk 38
Processing chunk 39
Finished processing chunk 39
Processing chunk 40
Finished processing chunk 40
Processing chunk 41
Finished processing chunk 41
Processing chunk 42
Finished processing chunk 42
Processing chunk 43
Finished processing chunk 43
Processing chunk 44
Finished processing chunk 44
Processing chunk 45
Finished processing chunk 45
Processing chunk 46
Finished processing chunk 46
Processing chunk 47
Finished processing chunk 47
Processing chunk 48
Finished processing chunk 48
Processing chunk 49
Finished processing chunk 49
Processing chunk 50
Finished processing chunk 50
Processing chunk 51
Finished processing chunk 51
Processing chunk 52
Finished processing chunk 52
Processing chunk 53
Finished processing chunk 53
Processing chunk 54
Finished processing chunk 54
Processing chunk 55
Finished processing chunk 55
Processing chunk 56
Finished processing chunk 56
Processing chunk 57
Finished processing chunk 57
Processing chunk 58
Finished processing chunk 58
Processing chunk 59
Finished processing chunk 59
Processing chunk 60
Finished processing chunk 60
Processing chunk 61
Finished processing chunk 61
Processing chunk 62
Finished processing chunk 62
Processing chunk 63
Finished processing chunk 63
Processing chunk 64
Finished processing chunk 64
Processing chunk 65
Finished processing chunk 65
Processing chunk 66
Finished processing chunk 66
Processing chunk 67
Finished processing chunk 67
Processing chunk 68
Finished processing chunk 68
Processing chunk 69
Finished processing chunk 69
Processing chunk 70
Finished processing chunk 70
Processing chunk 71
Finished processing chunk 71
Processing chunk 72
Finished processing chunk 72
Processing chunk 73
Finished processing chunk 73
Processing chunk 74
Finished processing chunk 74
Processing chunk 75
Finished processing chunk 75
Processing chunk 76
Finished processing chunk 76
Processing chunk 77
Finished processing chunk 77
Processing chunk 78
Finished processing chunk 78
Processing chunk 79
Finished processing chunk 79
Processing chunk 80
Finished processing chunk 80
Processing chunk 81
Finished processing chunk 81
Processing chunk 82
Finished processing chunk 82
Processing chunk 83
Finished processing chunk 83
Processing chunk 84
Finished processing chunk 84
Processing chunk 85
Finished processing chunk 85
Processing chunk 86
Finished processing chunk 86
Processing chunk 87
Finished processing chunk 87
Processing chunk 88
Finished processing chunk 88
Processing chunk 89
Finished processing chunk 89
Processing chunk 90
Finished processing chunk 90
Processing chunk 91
Finished processing chunk 91
Processing chunk 92
Finished processing chunk 92
Processing chunk 93
Finished processing chunk 93
Processing chunk 94
Finished processing chunk 94
Processing chunk 95
Finished processing chunk 95
Processing chunk 96
Finished processing chunk 96
Processing chunk 97
Finished processing chunk 97
Processing chunk 98
Finished processing chunk 98
Processing chunk 99
Finished processing chunk 99
Processing chunk 100
Finished processing chunk 100
Processing chunk 101
Finished processing chunk 101
Processing chunk 102
Finished processing chunk 102
Processing chunk 103
Finished processing chunk 103
Processing chunk 104
Finished processing chunk 104
Processing chunk 105
Finished processing chunk 105
Processing chunk 106
Finished processing chunk 106
Processing chunk 107
Finished processing chunk 107
Processing chunk 108
Finished processing chunk 108
Processing chunk 109
Finished processing chunk 109
Processing chunk 110
Finished processing chunk 110
Processing chunk 111
Finished processing chunk 111
Processing chunk 112
Finished processing chunk 112
Processing chunk 113
Finished processing chunk 113
Processing chunk 114
Finished processing chunk 114
Processing chunk 115
Finished processing chunk 115
Processing chunk 116
Finished processing chunk 116
Processing chunk 117
Finished processing chunk 117
Processing chunk 118
Finished processing chunk 118
Processing chunk 119
Finished processing chunk 119
Processing chunk 120
Finished processing chunk 120
Processing chunk 121
Finished processing chunk 121
Processing chunk 122
Finished processing chunk 122
Processing chunk 123
Finished processing chunk 123
Processing chunk 124
Finished processing chunk 124
Processing chunk 125
Finished processing chunk 125
Processing chunk 126
Finished processing chunk 126
Processing chunk 127
Finished processing chunk 127
Processing chunk 128
Finished processing chunk 128
Processing chunk 129
Finished processing chunk 129
Processing chunk 130
Finished processing chunk 130
Processing chunk 131
Finished processing chunk 131
Processing chunk 132
Finished processing chunk 132
Processing chunk 133
Finished processing chunk 133
Processing chunk 134
Finished processing chunk 134
Processing chunk 135
Finished processing chunk 135
Processing chunk 136
Finished processing chunk 136
Processing chunk 137
Finished processing chunk 137
Processing chunk 138
Finished processing chunk 138
Processing chunk 139
Finished processing chunk 139
Processing chunk 140
Finished processing chunk 140
Processing chunk 141
Finished processing chunk 141
All chunks have been processed and combined.

In [12]:
subset.shape

(17000000, 41)

In [13]:
subset_csv = subset.to_csv('subset.csv', index=False)

In [1]:
import pandas as pd
df_mme = pd.read_csv('subset.csv')

C:\Users\esmku\AppData\Local\Temp\ipykernel_27732\2060601064.py:2: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  df_mme = pd.read_csv('subset.csv')

In [2]:
df_mme.shape

(17000000, 41)

In [3]:
df_mme.head()

,ResponseID,ExtendedSessionID,UserID,ScenarioOrder,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,...,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
0,2222bRQqBTZ6dLnPH,32757157_6999801415950060.0,6.999801e+15,7,0,0,0,1,Fit,Fitness,...,0.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0
1,2222sJk4DcoqXXi98,1043988516_3525281295.0,3.525281e+09,2,0,0,0,0,Rand,Random,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2223CNmvTr2Coj4wp,-1613944085_422160228641876.0,4.221602e+14,10,0,1,0,1,Female,Gender,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2223Xu54ufgjcyMR3,1425316635_327833569077076.0,3.278336e+14,11,0,0,1,0,Old,Age,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2223jMWDEGNeszivb,-1683127088_785070916172117.0,7.850709e+14,8,0,1,0,2,More,Utilitarian,...,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [4]:
df_mme['ScenarioTypeStrict'].value_counts()

ScenarioTypeStrict
Utilitarian      3050188
Species          3002434
Age              2998622
Fitness          2995878
Gender           2992726
Random           1494764
Social Status     465388
Name: count, dtype: int64

In [5]:
# removing all rows with 'random' in the ScenarioTypeStrict column

df_mme = df_mme[df_mme['ScenarioTypeStrict'] != 'Random']

In [6]:
df_mme.shape # should be 17000000 - 1494764 = 15505236

(15505236, 41)

In [7]:
df_mme.isna().sum()

ResponseID                       0
ExtendedSessionID                0
UserID                        1926
ScenarioOrder                    0
Intervention                     0
PedPed                           0
Barrier                          0
CrossingSignal                   0
AttributeLevel                   0
ScenarioTypeStrict               0
ScenarioType                     0
DefaultChoice               492034
NonDefaultChoice            492034
DefaultChoiceIsOmission     492034
NumberOfCharacters               0
DiffNumberOFCharacters           0
Saved                            0
Template                   2026082
DescriptionShown           2026082
LeftHand                   2026082
UserCountry3                145768
Man                              0
Woman                            0
Pregnant                         0
Stroller                         0
OldMan                           0
OldWoman                         0
Boy                              0
Girl                             0
Homeless                         0
LargeWoman                       0
LargeMan                         0
Criminal                         0
MaleExecutive                    0
FemaleExecutive                  0
FemaleAthlete                    0
MaleAthlete                      0
FemaleDoctor                     0
MaleDoctor                       0
Dog                              0
Cat                              0
dtype: int64

In [8]:
# deleting rows with NaN's in the UserID column

df_mme = df_mme.dropna(subset=['UserID'])

In [9]:
df_mme.shape # should be 15505236 - 1926 = 15503310

(15503310, 41)

In [10]:
# rows that are needed to make dataset 2% llm and 98% human
total_rows_dataset = 293568 / 2 * 98
print(total_rows_dataset)    
rows_to_delete = df_mme.shape[0] - total_rows_dataset
print(rows_to_delete) 

# need to delete 1118478 rows

14384832.0
1118478.0

In [19]:
df_mme.shape

(15503310, 41)

In [12]:
# randomly delete 1118478 / 2 = 559239 unique ResponseID's (is 1118478 rows), to ensure 2% of the dataset is LLMs and 98% humans

# Getting unique UserIDs
Response_unique = df_mme['ResponseID'].unique()
print(len(Response_unique))  # should be 15503310/2 = 7751655

# Selecting 567,723 UserIDs from the unique set
Response_delete = pd.Series(Response_unique).sample(n=559239, random_state=42)

7751655

In [29]:
df_mme.head()

,ResponseID,ExtendedSessionID,UserID,ScenarioOrder,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,...,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
0,2222bRQqBTZ6dLnPH,32757157_6999801415950060.0,6.999801e+15,7,0,0,0,1,Fit,Fitness,...,0.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0
2,2223CNmvTr2Coj4wp,-1613944085_422160228641876.0,4.221602e+14,10,0,1,0,1,Female,Gender,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2223Xu54ufgjcyMR3,1425316635_327833569077076.0,3.278336e+14,11,0,0,1,0,Old,Age,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2223jMWDEGNeszivb,-1683127088_785070916172117.0,7.850709e+14,8,0,1,0,2,More,Utilitarian,...,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
5,2224H2QBFKNsMmRQc,1661661891_4304873273230329.0,4.304873e+15,11,0,1,0,0,Female,Gender,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0

In [33]:
df_mme_98 = df_mme[~df_mme['ResponseID'].isin(Response_delete)]

In [34]:
df_mme_98.head()

,ResponseID,ExtendedSessionID,UserID,ScenarioOrder,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,...,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
2,2223CNmvTr2Coj4wp,-1613944085_422160228641876.0,4.221602e+14,10,0,1,0,1,Female,Gender,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
5,2224H2QBFKNsMmRQc,1661661891_4304873273230329.0,4.304873e+15,11,0,1,0,0,Female,Gender,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
6,2224YxTZcu4sJqTSD,-887960483_174929057557052.0,1.749291e+14,6,0,0,0,2,Hoomans,Species,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
7,2224g4ytARX4QT5rB,213978760_9992828917431898.0,9.992829e+15,7,0,0,1,0,Less,Utilitarian,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
8,2224kBG72574tbZD3,737909459_839962439872333.0,8.399624e+14,12,0,0,1,0,Old,Age,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [35]:
# check what the distribution of RepsonseID's is (kinda)
# check if the indices of a responseID here are the same after transforming the ResponseID column
# if the indices are the same means ResponseID column is succesfully transformed

indices = df_mme_98[df_mme_98["ResponseID"] == '2223CNmvTr2Coj4wp'].index
print(indices)

Index([2, 8500002], dtype='int64')

In [36]:
# checking shape of df_filtered

df_mme_98.shape   # should be 15503310 - 1118478 = 14384832

(14384832, 41)

In [37]:
# Changing the responseID

# Define the starting point for the new ResponseID
starting_id = 146784

# Step 1: Get the unique ResponseIDs
unique_response_ids = df_mme_98['ResponseID'].unique()

# Step 2: Create a mapping from old ResponseID to new 'res_' formatted ID
response_id_mapping = {old_id: f'res_{i:08d}' for i, old_id in enumerate(unique_response_ids, starting_id)}

# Step 3: Replace the original ResponseID with the new mapped IDs
df_mme_98['ResponseID'] = df_mme_98['ResponseID'].map(response_id_mapping)

C:\Users\esmku\AppData\Local\Temp\ipykernel_27732\3824585436.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mme_98['ResponseID'] = df_mme_98['ResponseID'].map(response_id_mapping)

In [38]:
# ResponseID starts with res_00146784
df_mme_98.head()

,ResponseID,ExtendedSessionID,UserID,ScenarioOrder,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,...,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
2,res_00146784,-1613944085_422160228641876.0,4.221602e+14,10,0,1,0,1,Female,Gender,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
5,res_00146785,1661661891_4304873273230329.0,4.304873e+15,11,0,1,0,0,Female,Gender,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
6,res_00146786,-887960483_174929057557052.0,1.749291e+14,6,0,0,0,2,Hoomans,Species,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
7,res_00146787,213978760_9992828917431898.0,9.992829e+15,7,0,0,1,0,Less,Utilitarian,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
8,res_00146788,737909459_839962439872333.0,8.399624e+14,12,0,0,1,0,Old,Age,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [39]:
indices = df_mme_98[df_mme_98["ResponseID"] == 'res_00146784'].index
print(indices)

# checking if the indices are the same after transforming the ResponseID column
# compared to the indices of the ResponseID before transforming the column - they are!
# both are [2, 8500002]

Index([2, 8500002], dtype='int64')

In [40]:
df_mme_98.tail()

,ResponseID,ExtendedSessionID,UserID,ScenarioOrder,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,...,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
16999993,res_07339195,-388280772_2722777491.0,2.722777e+09,12,1,1,0,0,Less,Utilitarian,...,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
16999995,res_07339196,1658771898_8006215139757842.0,8.006215e+15,8,1,0,0,2,Fat,Fitness,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16999997,res_07339197,1269164515_3453341116.0,3.453341e+09,9,1,0,0,0,Male,Gender,...,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16999998,res_07339198,-1589392172_4126242148.0,4.126242e+09,3,1,1,0,1,Fat,Fitness,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16999999,res_07339199,-1014371005_411438207332712.0,4.114382e+14,10,1,0,0,0,More,Utilitarian,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [41]:
df_mme_98.columns

Index(['ResponseID', 'ExtendedSessionID', 'UserID', 'ScenarioOrder',
       'Intervention', 'PedPed', 'Barrier', 'CrossingSignal', 'AttributeLevel',
       'ScenarioTypeStrict', 'ScenarioType', 'DefaultChoice',
       'NonDefaultChoice', 'DefaultChoiceIsOmission', 'NumberOfCharacters',
       'DiffNumberOFCharacters', 'Saved', 'Template', 'DescriptionShown',
       'LeftHand', 'UserCountry3', 'Man', 'Woman', 'Pregnant', 'Stroller',
       'OldMan', 'OldWoman', 'Boy', 'Girl', 'Homeless', 'LargeWoman',
       'LargeMan', 'Criminal', 'MaleExecutive', 'FemaleExecutive',
       'FemaleAthlete', 'MaleAthlete', 'FemaleDoctor', 'MaleDoctor', 'Dog',
       'Cat'],
      dtype='object')

In [42]:
# already deleting some columns to ensure it fits in memory
# deleting the columns that are not necessary for the modelling: ExtendedSessionID, DefaultChoice, NonDefaultChoice, DefaultChoiceIsOmission, Template

df_mme_clean = df_mme_98.drop(columns=['ExtendedSessionID', 'DefaultChoice', 'NonDefaultChoice', 'DefaultChoiceIsOmission', 'Template'])

In [43]:
df_mme_clean.shape # should be 14367864 rows and 41-5 = 36 columns

(14384832, 36)

In [1]:
# resetting the index
df_mme_clean = df_mme_clean.reset_index(drop=True)

NameError: name 'df_mme_clean' is not defined

In [45]:
# saving this pre-preprocessed mme dataset to a csv file

df_mme_clean.to_csv('mme_dataset.csv', index=False)