## Loading and creating the mme_dataset

In [13]:
import pandas as pd

# create a dataframe with only the ExtendedSessionID column from the 71M SharedResponses.csv file

reader = pd.read_csv('SharedResponses.csv', usecols=['ResponseID'])

In [14]:
# code that will check if there are two of them in the dataset

# Count how many times each ResponseID appears
response_counts = reader['ResponseID'].value_counts()

# Get the ResponseIDs that appear exactly twice
ids_to_keep = response_counts[response_counts == 2].index

# Filter the rows where ResponseID is in the list of ids_to_keep
complete_responseid = reader[reader['ResponseID'].isin(ids_to_keep)]

In [15]:
complete_responseid.value_counts().min()

2

In [16]:
complete_responseid.shape

(67907006, 1)

In [17]:
# Drop duplicates based on 'ResponseID' and keep the first occurrence
complete_responseid = complete_responseid.drop_duplicates(subset=['ResponseID'], keep='first')

In [18]:
reader_subset = complete_responseid.sample(n=2000000) # want 4M rows (with accounting for NAn's and deleting rows with 'random' (around 10%)), so 4M / 2 = 2M ResponseID's necessary

In [19]:
# checking if they are all unique

reader_subset.nunique()

ResponseID    2000000
dtype: int64

In [20]:
# transform to a list to feed to the for loop that will extract all the corresponding columns from the SharedResponses.csv file

reader_sub_list = reader_subset['ResponseID'].tolist()

In [21]:
# check if it went okay
print(len(reader_sub_list))     # should be 2000000

2000000

In [22]:
# empty dataframe to append the rows to

subset = pd.DataFrame()

In [23]:
# reading SharedResponses to extract the rows with ResponseID's in reader_sub_list
# this will result in a dataframe 'subset' that contains around 4 million rows (2 * 2)

chunk_size = 500_000
reader = pd.read_csv('SharedResponses.csv', chunksize=chunk_size, dtype=str, low_memory=False)

for i, chunk in enumerate(reader):
    
    print(f"Processing chunk {i+1}")

    # Filter rows where ResponseID is in reader_subset
    subset_chunk = chunk[chunk['ResponseID'].isin(reader_sub_list)]

    # Append filtered chunk to empty df
    subset = pd.concat([subset, subset_chunk], ignore_index=True)

    print(f"Finished processing chunk {i+1}")

print("All chunks have been processed and combined.")

Processing chunk 1
Finished processing chunk 1
Processing chunk 2
Finished processing chunk 2
Processing chunk 3
Finished processing chunk 3
Processing chunk 4
Finished processing chunk 4
Processing chunk 5
Finished processing chunk 5
Processing chunk 6
Finished processing chunk 6
Processing chunk 7
Finished processing chunk 7
Processing chunk 8
Finished processing chunk 8
Processing chunk 9
Finished processing chunk 9
Processing chunk 10
Finished processing chunk 10
Processing chunk 11
Finished processing chunk 11
Processing chunk 12
Finished processing chunk 12
Processing chunk 13
Finished processing chunk 13
Processing chunk 14
Finished processing chunk 14
Processing chunk 15
Finished processing chunk 15
Processing chunk 16
Finished processing chunk 16
Processing chunk 17
Finished processing chunk 17
Processing chunk 18
Finished processing chunk 18
Processing chunk 19
Finished processing chunk 19
Processing chunk 20
Finished processing chunk 20
Processing chunk 21
Finished processing chunk 21
Processing chunk 22
Finished processing chunk 22
Processing chunk 23
Finished processing chunk 23
Processing chunk 24
Finished processing chunk 24
Processing chunk 25
Finished processing chunk 25
Processing chunk 26
Finished processing chunk 26
Processing chunk 27
Finished processing chunk 27
Processing chunk 28
Finished processing chunk 28
Processing chunk 29
Finished processing chunk 29
Processing chunk 30
Finished processing chunk 30
Processing chunk 31
Finished processing chunk 31
Processing chunk 32
Finished processing chunk 32
Processing chunk 33
Finished processing chunk 33
Processing chunk 34
Finished processing chunk 34
Processing chunk 35
Finished processing chunk 35
Processing chunk 36
Finished processing chunk 36
Processing chunk 37
Finished processing chunk 37
Processing chunk 38
Finished processing chunk 38
Processing chunk 39
Finished processing chunk 39
Processing chunk 40
Finished processing chunk 40
Processing chunk 41
Finished processing chunk 41
Processing chunk 42
Finished processing chunk 42
Processing chunk 43
Finished processing chunk 43
Processing chunk 44
Finished processing chunk 44
Processing chunk 45
Finished processing chunk 45
Processing chunk 46
Finished processing chunk 46
Processing chunk 47
Finished processing chunk 47
Processing chunk 48
Finished processing chunk 48
Processing chunk 49
Finished processing chunk 49
Processing chunk 50
Finished processing chunk 50
Processing chunk 51
Finished processing chunk 51
Processing chunk 52
Finished processing chunk 52
Processing chunk 53
Finished processing chunk 53
Processing chunk 54
Finished processing chunk 54
Processing chunk 55
Finished processing chunk 55
Processing chunk 56
Finished processing chunk 56
Processing chunk 57
Finished processing chunk 57
Processing chunk 58
Finished processing chunk 58
Processing chunk 59
Finished processing chunk 59
Processing chunk 60
Finished processing chunk 60
Processing chunk 61
Finished processing chunk 61
Processing chunk 62
Finished processing chunk 62
Processing chunk 63
Finished processing chunk 63
Processing chunk 64
Finished processing chunk 64
Processing chunk 65
Finished processing chunk 65
Processing chunk 66
Finished processing chunk 66
Processing chunk 67
Finished processing chunk 67
Processing chunk 68
Finished processing chunk 68
Processing chunk 69
Finished processing chunk 69
Processing chunk 70
Finished processing chunk 70
Processing chunk 71
Finished processing chunk 71
Processing chunk 72
Finished processing chunk 72
Processing chunk 73
Finished processing chunk 73
Processing chunk 74
Finished processing chunk 74
Processing chunk 75
Finished processing chunk 75
Processing chunk 76
Finished processing chunk 76
Processing chunk 77
Finished processing chunk 77
Processing chunk 78
Finished processing chunk 78
Processing chunk 79
Finished processing chunk 79
Processing chunk 80
Finished processing chunk 80
Processing chunk 81
Finished processing chunk 81
Processing chunk 82
Finished processing chunk 82
Processing chunk 83
Finished processing chunk 83
Processing chunk 84
Finished processing chunk 84
Processing chunk 85
Finished processing chunk 85
Processing chunk 86
Finished processing chunk 86
Processing chunk 87
Finished processing chunk 87
Processing chunk 88
Finished processing chunk 88
Processing chunk 89
Finished processing chunk 89
Processing chunk 90
Finished processing chunk 90
Processing chunk 91
Finished processing chunk 91
Processing chunk 92
Finished processing chunk 92
Processing chunk 93
Finished processing chunk 93
Processing chunk 94
Finished processing chunk 94
Processing chunk 95
Finished processing chunk 95
Processing chunk 96
Finished processing chunk 96
Processing chunk 97
Finished processing chunk 97
Processing chunk 98
Finished processing chunk 98
Processing chunk 99
Finished processing chunk 99
Processing chunk 100
Finished processing chunk 100
Processing chunk 101
Finished processing chunk 101
Processing chunk 102
Finished processing chunk 102
Processing chunk 103
Finished processing chunk 103
Processing chunk 104
Finished processing chunk 104
Processing chunk 105
Finished processing chunk 105
Processing chunk 106
Finished processing chunk 106
Processing chunk 107
Finished processing chunk 107
Processing chunk 108
Finished processing chunk 108
Processing chunk 109
Finished processing chunk 109
Processing chunk 110
Finished processing chunk 110
Processing chunk 111
Finished processing chunk 111
Processing chunk 112
Finished processing chunk 112
Processing chunk 113
Finished processing chunk 113
Processing chunk 114
Finished processing chunk 114
Processing chunk 115
Finished processing chunk 115
Processing chunk 116
Finished processing chunk 116
Processing chunk 117
Finished processing chunk 117
Processing chunk 118
Finished processing chunk 118
Processing chunk 119
Finished processing chunk 119
Processing chunk 120
Finished processing chunk 120
Processing chunk 121
Finished processing chunk 121
Processing chunk 122
Finished processing chunk 122
Processing chunk 123
Finished processing chunk 123
Processing chunk 124
Finished processing chunk 124
Processing chunk 125
Finished processing chunk 125
Processing chunk 126
Finished processing chunk 126
Processing chunk 127
Finished processing chunk 127
Processing chunk 128
Finished processing chunk 128
Processing chunk 129
Finished processing chunk 129
Processing chunk 130
Finished processing chunk 130
Processing chunk 131
Finished processing chunk 131
Processing chunk 132
Finished processing chunk 132
Processing chunk 133
Finished processing chunk 133
Processing chunk 134
Finished processing chunk 134
Processing chunk 135
Finished processing chunk 135
Processing chunk 136
Finished processing chunk 136
Processing chunk 137
Finished processing chunk 137
Processing chunk 138
Finished processing chunk 138
Processing chunk 139
Finished processing chunk 139
Processing chunk 140
Finished processing chunk 140
Processing chunk 141
Finished processing chunk 141
All chunks have been processed and combined.

In [24]:
subset.shape # should be 4000000, 41

(4000000, 41)

In [25]:
subset_csv = subset.to_csv('subset.csv', index=False)

### 98/2 MME

In [42]:
import pandas as pd
df_mme = pd.read_csv('subset.csv')

In [43]:
df_mme.shape

(4000000, 41)

In [44]:
df_mme.head()

,ResponseID,ExtendedSessionID,UserID,ScenarioOrder,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,...,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
0,2222bRQqBTZ6dLnPH,32757157_6999801415950060.0,6.999801e+15,7,0,0,0,1,Fit,Fitness,...,0.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0
1,2223jMWDEGNeszivb,-1683127088_785070916172117.0,7.850709e+14,8,0,1,0,2,More,Utilitarian,...,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,2225s6f4PqRQYeBd4,1153359856_8971439613901464.0,8.971440e+15,4,0,1,0,1,Fit,Fitness,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
3,222FeDqdjF7arHsBe,-1196718414_3957475684404117.0,3.957476e+15,13,0,1,0,2,Less,Utilitarian,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,222JBu4KkKjnFQC9P,988708286_2649771417.0,2.649771e+09,12,0,0,0,0,Male,Gender,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [45]:
df_mme['ScenarioTypeStrict'].value_counts()

ScenarioTypeStrict
Utilitarian      717820
Fitness          706192
Species          705608
Age              705476
Gender           703064
Random           352412
Social Status    109428
Name: count, dtype: int64

In [46]:
# removing all rows with 'random' in the ScenarioTypeStrict column, as LLM's don't have a random scenario

df_mme = df_mme[df_mme['ScenarioTypeStrict'] != 'Random']

# should be 4000000 - 352412 = 3647588

In [47]:
df_mme.shape

(3647588, 41)

In [48]:
# removing all rows with 'Rand' in the AttributeLevel column, as LLM's don't have a random scenario
df_mme['AttributeLevel'].value_counts()

AttributeLevel
More       358910
Less       358910
Pets       352804
Hoomans    352804
Male       351532
Female     351532
Young      341010
Old        341010
Fit        318774
Fat        318774
Rand       115558
Low         42985
High        42985
Name: count, dtype: int64

In [49]:
df_mme = df_mme[df_mme['AttributeLevel'] != 'Rand']

In [50]:
df_mme.shape # should be 3647588 - 115558 = 3532030

(3532030, 41)

In [51]:
df_mme.isna().sum()

ResponseID                      0
ExtendedSessionID               0
UserID                        404
ScenarioOrder                   0
Intervention                    0
PedPed                          0
Barrier                         0
CrossingSignal                  0
AttributeLevel                  0
ScenarioTypeStrict              0
ScenarioType                    0
DefaultChoice                   0
NonDefaultChoice                0
DefaultChoiceIsOmission         0
NumberOfCharacters              0
DiffNumberOFCharacters          0
Saved                           0
Template                   461690
DescriptionShown           461690
LeftHand                   461690
UserCountry3                33624
Man                             0
Woman                           0
Pregnant                        0
Stroller                        0
OldMan                          0
OldWoman                        0
Boy                             0
Girl                            0
Homeless                        0
LargeWoman                      0
LargeMan                        0
Criminal                        0
MaleExecutive                   0
FemaleExecutive                 0
FemaleAthlete                   0
MaleAthlete                     0
FemaleDoctor                    0
MaleDoctor                      0
Dog                             0
Cat                             0
dtype: int64

In [52]:
# deleting rows with NaN's in the UserID column

df_mme = df_mme.dropna(subset=['UserID'])

In [53]:
df_mme.shape # should be 3532030 - 404 = 3531626

(3531626, 41)

In [54]:
# the total dataset has to be 500.000M rows.
# 2% of that is LLM's, so 10.000 rows
# the other 98% will be humans, so 490.000 rows

# need to subset 980.000 rows from the 3531626 rows
# need to delete 3531626 - 490.000 = 3041626 rows

In [55]:
# randomly delete 3041626 / 2 = 1520813 unique ResponseID's (is 3041626 rows), to ensure 2% of the dataset is LLMs and 98% humans

# Getting unique UserIDs
Response_unique = df_mme['ResponseID'].unique()
print(len(Response_unique))  # should be 1765813 (3531626 / 2)

# Selecting 640075 UserIDs from the unique set
Response_delete = pd.Series(Response_unique).sample(n=1520813, random_state=42)

1765813

In [56]:
df_mme_98 = df_mme[~df_mme['ResponseID'].isin(Response_delete)]

In [57]:
# checking shape of df_filtered

df_mme_98.shape   # should be 490000, 41

(490000, 41)

In [58]:
df_mme_98.head()

,ResponseID,ExtendedSessionID,UserID,ScenarioOrder,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,...,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
8,222jc8QEnpn7JY5xh,-1776519460_4307308900611943.0,4.307309e+15,13,0,0,0,0,Fat,Fitness,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,22432qmaF4hm89J2S,1571418278_3796733224.0,3.796733e+09,9,0,1,0,2,Fat,Fitness,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31,224hsRiqkMDrfH7oK,475932227_845246661,8.452467e+08,11,0,0,1,0,Hoomans,Species,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43,225bEAz8oPXRfCZP4,1321247612_3832968457.0,3.832968e+09,2,0,1,0,0,Male,Gender,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
54,226W8ti295a7Jo8vQ,1432798382_397954244,3.979542e+08,1,0,1,0,2,Fit,Fitness,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0

In [59]:
# check what the distribution of RepsonseID's is (kinda)
# check if the indices of a responseID here are the same after transforming the ResponseID column
# if the indices are the same means ResponseID column is succesfully transformed

indices = df_mme_98[df_mme_98["ResponseID"] == '222JBu4KkKjnFQC9P'].index
print(indices)

Index([], dtype='int64')

In [60]:
# Changing the responseID

# Define the starting point for the new ResponseID
starting_id = 773566

# Step 1: Get the unique ResponseIDs
unique_response_ids = df_mme_98['ResponseID'].unique()

# Step 2: Create a mapping from old ResponseID to new 'res_' formatted ID
response_id_mapping = {old_id: f'res_{i:08d}' for i, old_id in enumerate(unique_response_ids, starting_id)}

# Step 3: Replace the original ResponseID with the new mapped IDs
df_mme_98['ResponseID'] = df_mme_98['ResponseID'].map(response_id_mapping)

C:\Users\esmku\AppData\Local\Temp\ipykernel_26048\1257459337.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mme_98['ResponseID'] = df_mme_98['ResponseID'].map(response_id_mapping)

In [61]:
# ResponseID starts with res_00627163
df_mme_98.head()

,ResponseID,ExtendedSessionID,UserID,ScenarioOrder,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,...,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
8,res_00773566,-1776519460_4307308900611943.0,4.307309e+15,13,0,0,0,0,Fat,Fitness,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,res_00773567,1571418278_3796733224.0,3.796733e+09,9,0,1,0,2,Fat,Fitness,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31,res_00773568,475932227_845246661,8.452467e+08,11,0,0,1,0,Hoomans,Species,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43,res_00773569,1321247612_3832968457.0,3.832968e+09,2,0,1,0,0,Male,Gender,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
54,res_00773570,1432798382_397954244,3.979542e+08,1,0,1,0,2,Fit,Fitness,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0

In [62]:
indices = df_mme_98[df_mme_98["ResponseID"] == 'res_00773566'].index
print(indices)

# checking if the indices are the same after transforming the ResponseID column
# compared to the indices of the ResponseID before transforming the column - they are!
# both are [0, 504816]

Index([8, 504824], dtype='int64')

In [63]:
df_mme_98.tail()

,ResponseID,ExtendedSessionID,UserID,ScenarioOrder,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,...,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
3999968,res_01018561,987818427_761202927,7.612029e+08,3,1,1,0,0,More,Utilitarian,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3999978,res_01018562,1591577424_5650557499136071.0,5.650557e+15,13,1,1,0,0,Young,Age,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3999993,res_01018563,-1252544665_7351695836887306.0,7.351696e+15,6,1,1,0,1,Female,Gender,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3999994,res_01018564,1936263400_1837170696,1.837171e+09,2,1,0,1,0,Old,Age,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3999996,res_01018565,1617866231_4402803830519695.0,4.402804e+15,3,1,0,1,0,Less,Utilitarian,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0

In [64]:
# resetting index

df_mme_98.reset_index(drop=True, inplace=True)

In [65]:
df_mme_98.columns

Index(['ResponseID', 'ExtendedSessionID', 'UserID', 'ScenarioOrder',
       'Intervention', 'PedPed', 'Barrier', 'CrossingSignal', 'AttributeLevel',
       'ScenarioTypeStrict', 'ScenarioType', 'DefaultChoice',
       'NonDefaultChoice', 'DefaultChoiceIsOmission', 'NumberOfCharacters',
       'DiffNumberOFCharacters', 'Saved', 'Template', 'DescriptionShown',
       'LeftHand', 'UserCountry3', 'Man', 'Woman', 'Pregnant', 'Stroller',
       'OldMan', 'OldWoman', 'Boy', 'Girl', 'Homeless', 'LargeWoman',
       'LargeMan', 'Criminal', 'MaleExecutive', 'FemaleExecutive',
       'FemaleAthlete', 'MaleAthlete', 'FemaleDoctor', 'MaleDoctor', 'Dog',
       'Cat'],
      dtype='object')

EDA Countries

In [66]:
# some EDA on the country column to assess the distribution of the user ethnicity/culture
# Can't do this later as then the column will be removed because of identifyable information - the LLM dataset does not have country information

# checking which countries are in the dataset, and what their frequency is
# need this for the comparison with the non_western_dataset

print(df_mme_98['UserCountry3'].value_counts())

UserCountry3
USA    124342
DEU     31838
BRA     27834
FRA     27732
GBR     25720
        ...
VGB         2
ATG         2
MNP         2
KNA         2
MWI         2
Name: count, Length: 198, dtype: int64

In [67]:
# List of countries considered 'Western' from the UN

countries = ["AND",  "AUS", "AUT", "BEL", "CAN", "CHE", "DNK", "DEU", "ESP", "FIN",  "FRA",  "GBR",  "GRC",  "IRL", 
            "ISR", "ISL", "ITA", "LIE", "LUX", "MLT", "MCO", "NLD", "NOR", "NZL", "PRT", "SMR", "SWE", "TUR", "USA" ]

# Andorra, Australia, Austria, Belgium, Canada, Switzerland, Denmark, Germany, Spain, Finland, France, United Kingdom, Greece, Ireland, 
# Israel, Iceland, Italy, Liechtenstein, Luxembourg, Malta, Monaco, Netherlands, Norway, New Zealand, Portugal, San Marino, Sweden, Turkey, USA

In [68]:
# what number of rows that is from western countries?

total_western = df_mme_98['UserCountry3'].isin(countries).sum()
print(f"Number of rows Western: {total_western}")

# this is % of the dataset that is from Western countries
print(f"Rounded % Western: {round(total_western /len(df_mme_98)*100)}")     # rounded percentage
print(f"Unrounded % Western: {total_western /len(df_mme_98)*100}")          # exact percentage

Number of rows Western: 338140
Rounded % Western: 69
Unrounded % Western: 69.00816326530612

EDA of countries is now over

In [69]:
# already deleting some columns to ensure it fits in memory
# deleting the columns that are not necessary for the modelling

df_mme_clean = df_mme_98.drop(columns=['ExtendedSessionID', 'DefaultChoice', 'NonDefaultChoice', 'DefaultChoiceIsOmission', 'Template', 'ScenarioType', 'ScenarioOrder', 'DescriptionShown', 'LeftHand', 'UserCountry3'], axis=1)

In [70]:
df_mme_clean.shape # should be 2450000 rows and 31 columns

(490000, 31)

In [71]:
"""import pandas as pd
import matplotlib.pyplot as plt


# List of columns for which to plot the frequency plots
column_list = df_mme_clean.columns.drop('ResponseID').tolist()

# Set up the figure and subplots (adjust the number of rows/columns depending on the number of plots)
fig, axes = plt.subplots(6, 5, figsize=(30, 20))  # 2 rows, 3 columns, adjust as needed
axes = axes.flatten()  # Flatten the axes array for easy iteration

# Loop through the columns and create subplots
for i, column in enumerate(column_list):
    # Count the occurrences of each category
    category_counts = df_mme_clean[column].value_counts()

    # Create a bar plot in the corresponding subplot axis
    axes[i].bar(category_counts.index, category_counts.values, width=0.75)

    # Add labels and title for each subplot
    axes[i].set_xlabel(str(column))
    axes[i].set_ylabel('Frequency')
    axes[i].set_title(f"Frequency Plot of {column}")

    # If the plot has only 2 categories, adjust the x-ticks to show 0 and 1
    if len(category_counts.index) == 2:
        axes[i].set_xticks([0, 1])

# Automatically adjust the layout for better spacing
plt.tight_layout()

# Show the entire figure with all subplots
plt.show()"""

'import pandas as pd\nimport matplotlib.pyplot as plt\n\n\n# List of columns for which to plot the frequency plots\ncolumn_list = df_mme_clean.columns.drop(\'ResponseID\').tolist()\n\n# Set up the figure and subplots (adjust the number of rows/columns depending on the number of plots)\nfig, axes = plt.subplots(6, 5, figsize=(30, 20))  # 2 rows, 3 columns, adjust as needed\naxes = axes.flatten()  # Flatten the axes array for easy iteration\n\n# Loop through the columns and create subplots\nfor i, column in enumerate(column_list):\n    # Count the occurrences of each category\n    category_counts = df_mme_clean[column].value_counts()\n\n    # Create a bar plot in the corresponding subplot axis\n    axes[i].bar(category_counts.index, category_counts.values, width=0.75)\n\n    # Add labels and title for each subplot\n    axes[i].set_xlabel(str(column))\n    axes[i].set_ylabel(\'Frequency\')\n    axes[i].set_title(f"Frequency Plot of {column}")\n\n    # If the plot has only 2 categories, adjust the x-ticks to show 0 and 1\n    if len(category_counts.index) == 2:\n        axes[i].set_xticks([0, 1])\n\n# Automatically adjust the layout for better spacing\nplt.tight_layout()\n\n# Show the entire figure with all subplots\nplt.show()'

In [72]:
# binarizing UserID - making all into 0
df_mme_clean['UserID'] = 0

In [73]:
# saving this pre-preprocessed mme dataset to a csv file

df_mme_clean.to_csv('mme_98_dataset.csv', index=False)

### 50/50 MME

In [74]:
# want a dataset of 1M rows, .5M LLM, .5M human

# creating the .5M rows of the human part

In [75]:
dtype = {
    'ResponseID': 'category',
    'UserID': 'int8',
    'Intervention': 'int8',
    'PedPed': 'int8',
    'Barrier': 'int8',
    'CrossingSignal': 'int8',
    'AttributeLevel': 'category',
    'ScenarioTypeStrict': 'category',
    'NumberOfCharacters': 'int8',
    'DiffNumberOFCharacters': 'int8',
    'Saved': 'int8',
    'Man': 'int8',
    'Woman': 'int8',
    'Pregnant': 'int8',
    'Stroller': 'int8',
    'OldMan': 'int8',
    'OldWoman': 'int8',
    'Boy': 'int8',
    'Girl': 'int8',
    'Homeless': 'int8',
    'LargeWoman': 'int8',
    'LargeMan': 'int8',
    'Criminal': 'int8',
    'MaleExecutive': 'int8',
    'FemaleExecutive': 'int8',
    'FemaleAthlete': 'int8',
    'MaleAthlete': 'int8',
    'FemaleDoctor': 'int8',
    'MaleDoctor': 'int8',
    'Dog': 'int8',
    'Cat': 'int8'
}

In [76]:
# function make_subset

def make_subset(data, sample_size, filter_value, types):

    """ 
    Function to create a subset of the original dataset based on the ResponseID's of the original dataset.
    It will create a subset based on a value of the UserID column
    The function will return a new dataframe with the same columns as the original dataset, where the ResponseID's are kept together.

    Input:
    - Data: a string with the path to the dataset that a subset has to be taken of
    - Sample_size: the size of the subset that has to be taken
    - Filter_value: the value of the UserID column that has to be filtered on (either 1 or 0). The subset will then only be of the either LLM's or humans
    - Types: a dictionary with the column names as keys and the data types as values
    
    Output:
    - A new dataframe with the subset of the original dataset
    
    Using chunks to ensure fast processing
    """

    df_tot = pd.read_csv(data, dtype=dtype)
    sample = int(sample_size/2)

    df_tot = df_tot[df_tot['UserID'] == filter_value]                                           # getting a subset of either only LLM's or MME's (1 or 0)
    unique_ids = df_tot.drop_duplicates(subset=['ResponseID'], keep='first')                    # only keeping unique ResponseID's (not their duplicate)
    RID_list = unique_ids['ResponseID'].sample(n=sample, random_state=41).to_list()             # to a list the ResponseID's to be kept

    print(f'Expected nr of rows in output df: {len(RID_list)*2}')                               # expected size of output df


    new_df = pd.DataFrame()

    chunk_size = 500_000
    reader = pd.read_csv(data, chunksize=chunk_size, low_memory=False)

    for i, chunk in enumerate(reader):
    
        print(f"Processing chunk {i+1}")

        # Filter rows where ResponseID is in reader_subset
        subset_chunk = chunk[chunk['ResponseID'].isin(RID_list)]

        # Append filtered chunk to empty df
        new_df = pd.concat([new_df, subset_chunk], ignore_index=True)

        print(f"Finished processing chunk {i+1}")

    print("All chunks have been processed and combined.")

    print(new_df.shape)

    # check if each ResponseID is present twice
    print(new_df['ResponseID'].nunique() == (new_df.shape[0]/2))   # should be True

    new_df = new_df.astype(dtype=types)
    
    return new_df


# will use the resulting dataframes from this function combined to create a final dataset

In [77]:
# Distribution of 
# 0 = 500000
# 1 = 500000
# to get a total dataset of 1M

In [78]:
# extracting 1250000 rows with ResponseID = 0 from the original dataset
import pandas as pd
df_original = pd.read_csv('mme_98_dataset.csv', dtype=dtype)

In [79]:
df_original.shape

(490000, 31)

In [80]:
# making subset of 1.25M of class 0, using the make_subset function from above
df50_sub_0 = make_subset('mme_98_dataset.csv', 250000, 0, dtype)

Expected nr of rows in output df: 250000
Processing chunk 1
Finished processing chunk 1
All chunks have been processed and combined.
(250000, 31)
True

In [81]:
df50_sub_0.shape

(250000, 31)

In [82]:
df50_sub_0['ResponseID'].value_counts().max()

2

In [83]:
# saving this pre-preprocessed mme dataset to a csv file

df50_sub_0.to_csv('mme_50_dataset.csv', index=False)