## Mme total & llm's

In [1]:
# reading datasets

import pandas as pd

df_mme = pd.read_csv('mme_dataset.csv')

In [2]:
df_mme.shape

(14384832, 36)

In [3]:
df_llm = pd.read_csv('llm_dataset.csv')

In [4]:
df_llm.shape

(293568, 36)

In [5]:
# concatanating the datasets, with mme later cause of ResponseID, and resetting the index

df_concat = pd.concat([df_llm, df_mme], axis=0)
df_total_complete = df_concat.reset_index(drop=True)

In [6]:
df_total_complete.shape

(14678400, 36)

In [7]:
df_total_complete.head()

,ResponseID,UserID,ScenarioOrder,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,ScenarioType,...,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
0,res_00000000,chatbot,0,0,0,1,0,Hoomans,Species,Species,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,res_00000000,chatbot,0,1,0,0,0,Pets,Species,Species,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0
2,res_00000001,chatbot,0,0,0,1,0,Male,Gender,Gender,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,res_00000001,chatbot,0,1,0,0,2,Female,Gender,Gender,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,res_00000002,chatbot,0,1,1,0,2,Young,Age,Age,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
df_total_complete.tail()

,ResponseID,UserID,ScenarioOrder,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,ScenarioType,...,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
14678395,res_07339197,2722777491.0,12,1,1,0,0,Less,Utilitarian,Utilitarian,...,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
14678396,res_07339198,8006215139757840.0,8,1,0,0,2,Fat,Fitness,Fitness,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14678397,res_07339198,3453341116.0,9,1,0,0,0,Male,Gender,Gender,...,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14678398,res_07339199,4126242148.0,3,1,1,0,1,Fat,Fitness,Fitness,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14678399,res_07339199,411438207332712.0,10,1,0,0,0,More,Utilitarian,Utilitarian,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [9]:
df_total_complete.columns

Index(['ResponseID', 'UserID', 'ScenarioOrder', 'Intervention', 'PedPed',
       'Barrier', 'CrossingSignal', 'AttributeLevel', 'ScenarioTypeStrict',
       'ScenarioType', 'NumberOfCharacters', 'DiffNumberOFCharacters', 'Saved',
       'DescriptionShown', 'LeftHand', 'UserCountry3', 'Man', 'Woman',
       'Pregnant', 'Stroller', 'OldMan', 'OldWoman', 'Boy', 'Girl', 'Homeless',
       'LargeWoman', 'LargeMan', 'Criminal', 'MaleExecutive',
       'FemaleExecutive', 'FemaleAthlete', 'MaleAthlete', 'FemaleDoctor',
       'MaleDoctor', 'Dog', 'Cat'],
      dtype='object')

In [ ]:
# some EDA on the country column to assess the distribution of the user ethnicity/culture
# Can't do this later as then the column will be removed because of identifyable information - the LLM dataset does not have country information

# checking which countries are in the dataset, and what their frequency is
# need this for the comparison with the non_western_dataset

print(df_total_complete['UserCountry3'].value_counts())

In [ ]:
# List of countries considered 'Western' from the UN

countries = ["AND",  "AUS", "AUT", "BEL", "CAN", "CHE", "DNK", "DEU", "ESP", "FIN",  "FRA",  "GBR",  "GRC",  "IRL", 
            "ISR", "ISL", "ITA", "LIE", "LUX", "MLT", "MCO", "NLD", "NOR", "NZL", "PRT", "SMR", "SWE", "TUR", "USA" ]

# Andorra, Australia, Austria, Belgium, Canada, Switzerland, Denmark, Germany, Spain, Finland, France, United Kingdom, Greece, Ireland, 
# Israel, Iceland, Italy, Liechtenstein, Luxembourg, Malta, Monaco, Netherlands, Norway, New Zealand, Portugal, San Marino, Sweden, Turkey, USA

In [ ]:
# what number of rows that is from western countries?

total_western = df_total_complete['UserCountry3'].isin(countries).sum()
print(f"Number of rows Western: {total_western}")

# this is % of the dataset that is from Western countries
print(f"Rounded % Western: {round(total_western /len(df_total_complete)*100)}")    # rounded percentage
print(f"Unrounded % Western: {total_western /len(df_total_complete)*100}")           # exact percentage

Number of rows Western: 9917118
Rounded % Western: 69
Unrounded % Western: 68.94149337301958

In [10]:
# dropping the columns that are not needed

df_total = df_total_complete.drop(['ScenarioType', 'ScenarioOrder', 'DescriptionShown', 'LeftHand', 'UserCountry3'], axis=1)

In [11]:
df_total.shape

(14678400, 31)

In [12]:
# checking the missing values

df_total.isnull().sum()

# there are no missing values in the dataset

ResponseID                0
UserID                    0
Intervention              0
PedPed                    0
Barrier                   0
CrossingSignal            0
AttributeLevel            0
ScenarioTypeStrict        0
NumberOfCharacters        0
DiffNumberOFCharacters    0
Saved                     0
Man                       0
Woman                     0
Pregnant                  0
Stroller                  0
OldMan                    0
OldWoman                  0
Boy                       0
Girl                      0
Homeless                  0
LargeWoman                0
LargeMan                  0
Criminal                  0
MaleExecutive             0
FemaleExecutive           0
FemaleAthlete             0
MaleAthlete               0
FemaleDoctor              0
MaleDoctor                0
Dog                       0
Cat                       0
dtype: int64

In [14]:
# binarizing UserID
# we know from EDA of llm_dataset that userID for llms are always 'chatbot'. We will encode this as 1 and all other userIDs as 0 (which are humans)

df_total['UserID'] = df_total['UserID'].apply(lambda x: 1 if x == 'chatbot' else 0)

In [15]:
df_total['UserID'].value_counts()

UserID
0    14384832
1      293568
Name: count, dtype: int64

In [17]:
# checking if 2% is llm
df_total['UserID'].value_counts(normalize=True)

# yes it is true

UserID
0    0.98
1    0.02
Name: proportion, dtype: float64

In [13]:
df_total.to_csv('total_dataset.csv', index=False)

## Mme Non-Western & llm's

In [1]:
# reading datasets

import pandas as pd

df_nw = pd.read_csv('non_western_dataset.csv')

C:\Users\esmku\AppData\Local\Temp\ipykernel_2788\818384689.py:5: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  df_nw = pd.read_csv('non_western_dataset.csv')

In [2]:
df_nw.shape

(14384832, 36)

In [3]:
df_llm = pd.read_csv('llm_dataset.csv')

In [4]:
df_llm.shape

(293568, 36)

In [12]:
# concatanating the datasets, with mme later cause of ResponseID, and resetting the index

df_concat = pd.concat([df_llm, df_nw], axis=0)
df_total_complete_nw = df_concat.reset_index(drop=True)

In [13]:
df_total_complete_nw.shape

(14678400, 36)

In [14]:
df_total_complete_nw.head()

,ResponseID,UserID,ScenarioOrder,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,ScenarioType,...,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
0,res_00000000,chatbot,0,0,0,1,0,Hoomans,Species,Species,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,res_00000000,chatbot,0,1,0,0,0,Pets,Species,Species,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0
2,res_00000001,chatbot,0,0,0,1,0,Male,Gender,Gender,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,res_00000001,chatbot,0,1,0,0,2,Female,Gender,Gender,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,res_00000002,chatbot,0,1,1,0,2,Young,Age,Age,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
df_total_complete_nw.tail()

,ResponseID,UserID,ScenarioOrder,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,ScenarioType,...,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
14678395,res_07339197,653858658.0,13,1,0,0,0,Fat,Fitness,Fitness,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14678396,res_07339198,8584219519940750.0,6,1,1,0,1,Pets,Species,Species,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0
14678397,res_07339198,1451013350.0,1,1,1,0,0,More,Utilitarian,Utilitarian,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14678398,res_07339199,742769765189808.0,5,1,1,0,0,Young,Age,Age,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14678399,res_07339199,4499486314855809.5,4,1,1,0,2,Fit,Fitness,Fitness,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0

In [16]:
df_total_complete_nw.columns

Index(['ResponseID', 'UserID', 'ScenarioOrder', 'Intervention', 'PedPed',
       'Barrier', 'CrossingSignal', 'AttributeLevel', 'ScenarioTypeStrict',
       'ScenarioType', 'NumberOfCharacters', 'DiffNumberOFCharacters', 'Saved',
       'DescriptionShown', 'LeftHand', 'UserCountry3', 'Man', 'Woman',
       'Pregnant', 'Stroller', 'OldMan', 'OldWoman', 'Boy', 'Girl', 'Homeless',
       'LargeWoman', 'LargeMan', 'Criminal', 'MaleExecutive',
       'FemaleExecutive', 'FemaleAthlete', 'MaleAthlete', 'FemaleDoctor',
       'MaleDoctor', 'Dog', 'Cat'],
      dtype='object')

In [17]:
# dropping the columns that are not needed

df_total_nw = df_total_complete_nw.drop(['ScenarioType', 'ScenarioOrder', 'DescriptionShown', 'LeftHand', 'UserCountry3'], axis=1)

In [18]:
df_total_nw.shape

(14678400, 31)

In [19]:
# checking the missing values

df_total_nw.isnull().sum()

ResponseID                0
UserID                    0
Intervention              0
PedPed                    0
Barrier                   0
CrossingSignal            0
AttributeLevel            0
ScenarioTypeStrict        0
NumberOfCharacters        2
DiffNumberOFCharacters    2
Saved                     0
Man                       1
Woman                     2
Pregnant                  2
Stroller                  2
OldMan                    2
OldWoman                  2
Boy                       2
Girl                      2
Homeless                  2
LargeWoman                2
LargeMan                  2
Criminal                  2
MaleExecutive             2
FemaleExecutive           2
FemaleAthlete             2
MaleAthlete               2
FemaleDoctor              2
MaleDoctor                2
Dog                       2
Cat                       2
dtype: int64

In [20]:
# dropping the rows with missing values as they are so few it is insignificant to the dataset

df_total_nw = df_total_nw.dropna()

In [28]:
df_total_nw.shape

(14678398, 31)

In [21]:
df_total_nw.isnull().sum()

ResponseID                0
UserID                    0
Intervention              0
PedPed                    0
Barrier                   0
CrossingSignal            0
AttributeLevel            0
ScenarioTypeStrict        0
NumberOfCharacters        0
DiffNumberOFCharacters    0
Saved                     0
Man                       0
Woman                     0
Pregnant                  0
Stroller                  0
OldMan                    0
OldWoman                  0
Boy                       0
Girl                      0
Homeless                  0
LargeWoman                0
LargeMan                  0
Criminal                  0
MaleExecutive             0
FemaleExecutive           0
FemaleAthlete             0
MaleAthlete               0
FemaleDoctor              0
MaleDoctor                0
Dog                       0
Cat                       0
dtype: int64

In [25]:
# binarizing UserID
# we know from EDA of llm_dataset that userID for llms are always 'chatbot'. We will encode this as 1 and all other userIDs as 0 (which are humans)

df_total_nw['UserID'] = df_total_nw['UserID'].apply(lambda x: 1 if x == 'chatbot' else 0)

In [26]:
df_total_nw['UserID'].value_counts()

UserID
0    14384830
1      293568
Name: count, dtype: int64

In [27]:
# checking if 2% is llm
df_total_nw['UserID'].value_counts(normalize=True)

# yes it is true (because of the removal of 2 NAN rows, the % is actually 2.0000002725%, but that is close enough to 2%)

UserID
0    0.98
1    0.02
Name: proportion, dtype: float64

In [29]:
df_total_nw.to_csv('total_nw_dataset.csv', index=False)