## Mme total & llm's

In [40]:
# reading datasets

import pandas as pd

df_mme = pd.read_csv('mme_dataset.csv')

In [41]:
df_mme.shape

(14384832, 36)

In [42]:
df_mme.duplicated().sum()

0

In [43]:
df_llm = pd.read_csv('llm_dataset.csv')

In [44]:
df_llm.shape

(293568, 36)

In [45]:
df_llm.duplicated().sum()

0

In [46]:
# concatanating the datasets, with mme later cause of ResponseID, and resetting the index

df_concat = pd.concat([df_llm, df_mme], axis=0)
df_total_complete = df_concat.reset_index(drop=True)

In [47]:
df_total_complete.shape

(14678400, 36)

In [48]:
df_total_complete.duplicated().sum()

0

In [49]:
df_total_complete.head()

,ResponseID,UserID,ScenarioOrder,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,ScenarioType,NumberOfCharacters,DiffNumberOFCharacters,Saved,DescriptionShown,LeftHand,UserCountry3,Man,Woman,Pregnant,Stroller,OldMan,OldWoman,Boy,Girl,Homeless,LargeWoman,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
0,res_00000000,chatbot,0,0,0,1,0,Hoomans,Species,Species,3.0,0.0,0,1.0,1.0,JPN,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,res_00000000,chatbot,0,1,0,0,0,Pets,Species,Species,3.0,0.0,1,1.0,0.0,JPN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0
2,res_00000001,chatbot,0,0,0,1,0,Male,Gender,Gender,2.0,0.0,0,1.0,1.0,JPN,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,res_00000001,chatbot,0,1,0,0,2,Female,Gender,Gender,2.0,0.0,1,1.0,0.0,JPN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,res_00000002,chatbot,0,1,1,0,2,Young,Age,Age,1.0,0.0,1,1.0,1.0,JPN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [50]:
df_total_complete.tail()

,ResponseID,UserID,ScenarioOrder,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,ScenarioType,NumberOfCharacters,DiffNumberOFCharacters,Saved,DescriptionShown,LeftHand,UserCountry3,Man,Woman,Pregnant,Stroller,OldMan,OldWoman,Boy,Girl,Homeless,LargeWoman,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
14678395,res_07339195,2722777491.0,12,1,1,0,0,Less,Utilitarian,Utilitarian,4.0,1.0,0,1.0,0.0,USA,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
14678396,res_07339196,8006215139757840.0,8,1,0,0,2,Fat,Fitness,Fitness,2.0,0.0,1,0.0,1.0,RUS,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14678397,res_07339197,3453341116.0,9,1,0,0,0,Male,Gender,Gender,4.0,0.0,1,1.0,0.0,FRA,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14678398,res_07339198,4126242148.0,3,1,1,0,1,Fat,Fitness,Fitness,1.0,0.0,1,NaN,NaN,GBR,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14678399,res_07339199,411438207332712.0,10,1,0,0,0,More,Utilitarian,Utilitarian,5.0,3.0,1,1.0,1.0,NaN,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [51]:
df_total_complete.columns

Index(['ResponseID', 'UserID', 'ScenarioOrder', 'Intervention', 'PedPed',
       'Barrier', 'CrossingSignal', 'AttributeLevel', 'ScenarioTypeStrict',
       'ScenarioType', 'NumberOfCharacters', 'DiffNumberOFCharacters', 'Saved',
       'DescriptionShown', 'LeftHand', 'UserCountry3', 'Man', 'Woman',
       'Pregnant', 'Stroller', 'OldMan', 'OldWoman', 'Boy', 'Girl', 'Homeless',
       'LargeWoman', 'LargeMan', 'Criminal', 'MaleExecutive',
       'FemaleExecutive', 'FemaleAthlete', 'MaleAthlete', 'FemaleDoctor',
       'MaleDoctor', 'Dog', 'Cat'],
      dtype='object')

In [52]:
# some EDA on the country column to assess the distribution of the user ethnicity/culture
# Can't do this later as then the column will be removed because of identifyable information - the LLM dataset does not have country information

# checking which countries are in the dataset, and what their frequency is
# need this for the comparison with the non_western_dataset

print(df_total_complete['UserCountry3'].value_counts())

UserCountry3
USA    3649780
DEU     941170
BRA     818174
FRA     809348
GBR     759788
        ...
WSM          6
NIU          4
MHL          4
PLW          4
CAF          2
Name: count, Length: 230, dtype: int64

In [53]:
# List of countries considered 'Western' from the UN

countries = ["AND",  "AUS", "AUT", "BEL", "CAN", "CHE", "DNK", "DEU", "ESP", "FIN",  "FRA",  "GBR",  "GRC",  "IRL", 
            "ISR", "ISL", "ITA", "LIE", "LUX", "MLT", "MCO", "NLD", "NOR", "NZL", "PRT", "SMR", "SWE", "TUR", "USA" ]

# Andorra, Australia, Austria, Belgium, Canada, Switzerland, Denmark, Germany, Spain, Finland, France, United Kingdom, Greece, Ireland, 
# Israel, Iceland, Italy, Liechtenstein, Luxembourg, Malta, Monaco, Netherlands, Norway, New Zealand, Portugal, San Marino, Sweden, Turkey, USA

In [54]:
# what number of rows that is from western countries?

total_western = df_total_complete['UserCountry3'].isin(countries).sum()
print(f"Number of rows Western: {total_western}")

# this is % of the dataset that is from Western countries
print(f"Rounded % Western: {round(total_western /len(df_total_complete)*100)}")    # rounded percentage
print(f"Unrounded % Western: {total_western /len(df_total_complete)*100}")           # exact percentage

Number of rows Western: 9917118
Rounded % Western: 68
Unrounded % Western: 67.56266350555919

In [55]:
# showing all the columns
pd.set_option('display.max_columns', None)

In [56]:
df_total_complete[df_total_complete['ResponseID'] == 'res_03104071']

,ResponseID,UserID,ScenarioOrder,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,ScenarioType,NumberOfCharacters,DiffNumberOFCharacters,Saved,DescriptionShown,LeftHand,UserCountry3,Man,Woman,Pregnant,Stroller,OldMan,OldWoman,Boy,Girl,Homeless,LargeWoman,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
3250855,res_03104071,1009267915.0,3,0,0,1,0,Female,Gender,Gender,5.0,0.0,0,0.0,0.0,CMR,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0
10443271,res_03104071,1009267915.0,3,1,0,0,1,Male,Gender,Gender,5.0,0.0,1,0.0,1.0,CMR,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [57]:
df_total_complete['ResponseID'].value_counts().min()

2

In [58]:
df_total_complete['ResponseID'].value_counts().max()

2

In [59]:
df_total_complete['UserID'].nunique()

1863756

In [60]:
df_total_complete.tail(10)

,ResponseID,UserID,ScenarioOrder,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,ScenarioType,NumberOfCharacters,DiffNumberOFCharacters,Saved,DescriptionShown,LeftHand,UserCountry3,Man,Woman,Pregnant,Stroller,OldMan,OldWoman,Boy,Girl,Homeless,LargeWoman,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
14678390,res_07339190,7262996112833790.0,7,1,1,0,0,Old,Age,Age,3.0,0.0,0,0.0,1.0,JPN,0.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14678391,res_07339191,3200162507.0,3,1,0,0,1,Male,Gender,Gender,3.0,0.0,1,0.0,1.0,USA,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14678392,res_07339192,5151631721139040.0,8,1,1,0,2,Old,Age,Age,2.0,0.0,0,0.0,1.0,FRA,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14678393,res_07339193,3586742183.0,6,1,1,0,2,Less,Utilitarian,Utilitarian,2.0,3.0,0,NaN,NaN,CAN,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
14678394,res_07339194,838829685.0,4,1,1,0,0,More,Utilitarian,Utilitarian,5.0,1.0,1,NaN,NaN,CAN,1.0,0.0,0.0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14678395,res_07339195,2722777491.0,12,1,1,0,0,Less,Utilitarian,Utilitarian,4.0,1.0,0,1.0,0.0,USA,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
14678396,res_07339196,8006215139757840.0,8,1,0,0,2,Fat,Fitness,Fitness,2.0,0.0,1,0.0,1.0,RUS,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14678397,res_07339197,3453341116.0,9,1,0,0,0,Male,Gender,Gender,4.0,0.0,1,1.0,0.0,FRA,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14678398,res_07339198,4126242148.0,3,1,1,0,1,Fat,Fitness,Fitness,1.0,0.0,1,NaN,NaN,GBR,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14678399,res_07339199,411438207332712.0,10,1,0,0,0,More,Utilitarian,Utilitarian,5.0,3.0,1,1.0,1.0,NaN,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [61]:
# dropping the columns that are not needed

df_total = df_total_complete.drop(['ScenarioType', 'ScenarioOrder', 'DescriptionShown', 'LeftHand', 'UserCountry3'], axis=1)

In [62]:
df_total.shape

(14678400, 31)

In [63]:
dupli = df_total.duplicated().sum()

In [64]:
print(f"Number of duplicates: {dupli}")

Number of duplicates: 0

In [65]:
# checking the missing values

df_total.isnull().sum().sum()

# there are no missing values in the dataset

0

In [66]:
# binarizing UserID
# we know from EDA of llm_dataset that userID for llms are always 'chatbot'. We will encode this as 1 and all other userIDs as 0 (which are humans)

df_total['UserID'] = df_total['UserID'].apply(lambda x: 1 if x == 'chatbot' else 0)

In [67]:
df_total['UserID'].value_counts()

UserID
0    14384832
1      293568
Name: count, dtype: int64

In [68]:
# checking if 2% is llm
df_total['UserID'].value_counts(normalize=True)

# yes it is true

UserID
0    0.98
1    0.02
Name: proportion, dtype: float64

In [69]:
# randomly shuffling the dataset so that not all llm's are on top of the dataset

df_total = df_total.sample(frac=1, random_state=42).reset_index(drop=True)

In [70]:
df_total.head(10)

,ResponseID,UserID,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,NumberOfCharacters,DiffNumberOFCharacters,Saved,Man,Woman,Pregnant,Stroller,OldMan,OldWoman,Boy,Girl,Homeless,LargeWoman,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
0,res_04906808,0,1,0,0,1,Less,Utilitarian,3.0,2.0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,res_01167621,0,0,1,0,2,Pets,Species,2.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
2,res_03198848,0,1,0,0,2,Old,Age,2.0,0.0,0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,res_00035908,1,0,0,1,0,Male,Gender,5.0,0.0,0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,res_03263521,0,1,0,1,0,Fat,Fitness,5.0,0.0,0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,res_06822999,0,0,0,0,0,Old,Age,1.0,0.0,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,res_02544171,0,1,1,0,2,Young,Age,1.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,res_03932432,0,0,1,0,0,More,Utilitarian,5.0,4.0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
8,res_06103272,0,0,1,0,1,Female,Gender,1.0,0.0,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,res_03703089,0,0,0,0,0,More,Utilitarian,5.0,1.0,1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [71]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14678400 entries, 0 to 14678399
Data columns (total 31 columns):
 #   Column                  Dtype
---  ------                  -----
 0   ResponseID              object
 1   UserID                  int64
 2   Intervention            int64
 3   PedPed                  int64
 4   Barrier                 int64
 5   CrossingSignal          int64
 6   AttributeLevel          object
 7   ScenarioTypeStrict      object
 8   NumberOfCharacters      float64
 9   DiffNumberOFCharacters  float64
 10  Saved                   int64
 11  Man                     float64
 12  Woman                   float64
 13  Pregnant                float64
 14  Stroller                float64
 15  OldMan                  float64
 16  OldWoman                float64
 17  Boy                     float64
 18  Girl                    float64
 19  Homeless                float64
 20  LargeWoman              float64
 21  LargeMan                float64
 22  Criminal                float64
 23  MaleExecutive           float64
 24  FemaleExecutive         float64
 25  FemaleAthlete           float64
 26  MaleAthlete             float64
 27  FemaleDoctor            float64
 28  MaleDoctor              float64
 29  Dog                     float64
 30  Cat                     float64
dtypes: float64(22), int64(6), object(3)
memory usage: 3.4+ GB

In [72]:
# Get the maximum float value across the entire DataFrame (ignoring non-numeric columns)
max_value = df_total.select_dtypes(include=['float', 'int']).max().max()

print(f'Highest number in the dataset: {max_value}')

# can do int8 cause the max value is 5

Highest number in the dataset: 5.0

In [73]:
# change datatypes of the columns

# Convert all float64 and int64 columns to int8
df_total = df_total.astype({col: 'int8' for col in df_total.select_dtypes(include=['float64', 'int64']).columns})

# Convert all object columns to category
df_total = df_total.astype({col: 'category' for col in df_total.select_dtypes(include=['object']).columns})

In [74]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14678400 entries, 0 to 14678399
Data columns (total 31 columns):
 #   Column                  Dtype
---  ------                  -----
 0   ResponseID              category
 1   UserID                  int8
 2   Intervention            int8
 3   PedPed                  int8
 4   Barrier                 int8
 5   CrossingSignal          int8
 6   AttributeLevel          category
 7   ScenarioTypeStrict      category
 8   NumberOfCharacters      int8
 9   DiffNumberOFCharacters  int8
 10  Saved                   int8
 11  Man                     int8
 12  Woman                   int8
 13  Pregnant                int8
 14  Stroller                int8
 15  OldMan                  int8
 16  OldWoman                int8
 17  Boy                     int8
 18  Girl                    int8
 19  Homeless                int8
 20  LargeWoman              int8
 21  LargeMan                int8
 22  Criminal                int8
 23  MaleExecutive           int8
 24  FemaleExecutive         int8
 25  FemaleAthlete           int8
 26  MaleAthlete             int8
 27  FemaleDoctor            int8
 28  MaleDoctor              int8
 29  Dog                     int8
 30  Cat                     int8
dtypes: category(3), int8(28)
memory usage: 789.9 MB

In [76]:
# saving the dataset
df_total.to_csv('total_dataset.csv', index=False)

## Mme Non-Western & llm's

In [1]:
 # reading datasets

import pandas as pd

df_nw = pd.read_csv('non_western_dataset.csv')

C:\Users\esmku\AppData\Local\Temp\ipykernel_25920\3287123380.py:5: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  df_nw = pd.read_csv('non_western_dataset.csv')

In [2]:
df_nw.shape

(14384832, 36)

In [3]:
df_llm = pd.read_csv('llm_dataset.csv')

In [4]:
df_llm.shape

(293568, 36)

In [5]:
# concatanating the datasets, with mme later cause of ResponseID, and resetting the index

df_concat = pd.concat([df_llm, df_nw], axis=0)
df_total_complete_nw = df_concat.reset_index(drop=True)

In [6]:
df_total_complete_nw.shape

(14678400, 36)

In [7]:
df_total_complete_nw.head()

,ResponseID,UserID,ScenarioOrder,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,ScenarioType,...,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
0,res_00000000,chatbot,0,0,0,1,0,Hoomans,Species,Species,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,res_00000000,chatbot,0,1,0,0,0,Pets,Species,Species,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0
2,res_00000001,chatbot,0,0,0,1,0,Male,Gender,Gender,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,res_00000001,chatbot,0,1,0,0,2,Female,Gender,Gender,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,res_00000002,chatbot,0,1,1,0,2,Young,Age,Age,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
df_total_complete_nw.tail()

,ResponseID,UserID,ScenarioOrder,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,ScenarioType,...,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
14678395,res_07339195,653858658.0,13,1,0,0,0,Fat,Fitness,Fitness,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14678396,res_07339196,8584219519940750.0,6,1,1,0,1,Pets,Species,Species,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0
14678397,res_07339197,1451013350.0,1,1,1,0,0,More,Utilitarian,Utilitarian,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14678398,res_07339198,742769765189808.0,5,1,1,0,0,Young,Age,Age,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14678399,res_07339199,4499486314855809.5,4,1,1,0,2,Fit,Fitness,Fitness,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0

In [9]:
df_total_complete_nw.columns

Index(['ResponseID', 'UserID', 'ScenarioOrder', 'Intervention', 'PedPed',
       'Barrier', 'CrossingSignal', 'AttributeLevel', 'ScenarioTypeStrict',
       'ScenarioType', 'NumberOfCharacters', 'DiffNumberOFCharacters', 'Saved',
       'DescriptionShown', 'LeftHand', 'UserCountry3', 'Man', 'Woman',
       'Pregnant', 'Stroller', 'OldMan', 'OldWoman', 'Boy', 'Girl', 'Homeless',
       'LargeWoman', 'LargeMan', 'Criminal', 'MaleExecutive',
       'FemaleExecutive', 'FemaleAthlete', 'MaleAthlete', 'FemaleDoctor',
       'MaleDoctor', 'Dog', 'Cat'],
      dtype='object')

In [10]:
# dropping the columns that are not needed

df_total_nw = df_total_complete_nw.drop(['ScenarioType', 'ScenarioOrder', 'DescriptionShown', 'LeftHand', 'UserCountry3'], axis=1)

In [11]:
df_total_nw.shape

(14678400, 31)

In [12]:
# checking the missing values

df_total_nw.isnull().sum()

ResponseID                0
UserID                    0
Intervention              0
PedPed                    0
Barrier                   0
CrossingSignal            0
AttributeLevel            0
ScenarioTypeStrict        0
NumberOfCharacters        2
DiffNumberOFCharacters    2
Saved                     0
Man                       1
Woman                     2
Pregnant                  2
Stroller                  2
OldMan                    2
OldWoman                  2
Boy                       2
Girl                      2
Homeless                  2
LargeWoman                2
LargeMan                  2
Criminal                  2
MaleExecutive             2
FemaleExecutive           2
FemaleAthlete             2
MaleAthlete               2
FemaleDoctor              2
MaleDoctor                2
Dog                       2
Cat                       2
dtype: int64

In [13]:
# dropping the rows with missing values as they are so few it is insignificant to the dataset

df_total_nw = df_total_nw.dropna()

In [14]:
df_total_nw.shape

(14678398, 31)

In [15]:
df_total_nw.isnull().sum()

ResponseID                0
UserID                    0
Intervention              0
PedPed                    0
Barrier                   0
CrossingSignal            0
AttributeLevel            0
ScenarioTypeStrict        0
NumberOfCharacters        0
DiffNumberOFCharacters    0
Saved                     0
Man                       0
Woman                     0
Pregnant                  0
Stroller                  0
OldMan                    0
OldWoman                  0
Boy                       0
Girl                      0
Homeless                  0
LargeWoman                0
LargeMan                  0
Criminal                  0
MaleExecutive             0
FemaleExecutive           0
FemaleAthlete             0
MaleAthlete               0
FemaleDoctor              0
MaleDoctor                0
Dog                       0
Cat                       0
dtype: int64

In [16]:
# binarizing UserID
# we know from EDA of llm_dataset that userID for llms are always 'chatbot'. We will encode this as 1 and all other userIDs as 0 (which are humans)

df_total_nw['UserID'] = df_total_nw['UserID'].apply(lambda x: 1 if x == 'chatbot' else 0)

In [17]:
df_total_nw['UserID'].value_counts()

UserID
0    14384830
1      293568
Name: count, dtype: int64

In [18]:
# checking if 2% is llm
df_total_nw['UserID'].value_counts(normalize=True)

# yes it is true (because of the removal of 2 NAN rows, the % is actually 2.0000002725%, but that is close enough to 2%)

UserID
0    0.98
1    0.02
Name: proportion, dtype: float64

In [19]:
# randomly shuffling the dataset so that not all llm's are on top of the dataset

df_total_nw = df_total_nw.sample(frac=1, random_state=42).reset_index(drop=True)

In [20]:
dupli_nw = df_total_nw.duplicated().sum()

In [22]:
print(f"Number of duplicates: {dupli_nw}")

Number of duplicates: 0

In [21]:
print(df_total_nw['ResponseID'].value_counts().min())
print(df_total_nw['ResponseID'].value_counts().max())

2
2

In [23]:
df_total_nw.head(10)

,ResponseID,UserID,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,NumberOfCharacters,DiffNumberOFCharacters,...,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
0,res_03117225,0,1,1,0,1,Male,Gender,3.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,res_00438778,0,1,1,0,2,Hoomans,Species,5.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,res_05568749,0,0,1,0,0,Less,Utilitarian,1.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,res_00035908,1,0,0,1,0,Male,Gender,5.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,res_04559409,0,1,0,1,0,More,Utilitarian,5.0,2.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
5,res_03911252,0,0,1,0,2,Less,Utilitarian,2.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,res_04641429,0,1,1,0,2,Old,Age,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,res_01020685,0,1,1,0,1,Less,Utilitarian,2.0,3.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
8,res_03191525,0,0,0,1,0,Old,Age,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,res_02974246,0,0,0,1,0,Female,Gender,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
df_total_nw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14678398 entries, 0 to 14678397
Data columns (total 31 columns):
 #   Column                  Dtype
---  ------                  -----
 0   ResponseID              object
 1   UserID                  int64
 2   Intervention            int64
 3   PedPed                  int64
 4   Barrier                 int64
 5   CrossingSignal          int64
 6   AttributeLevel          object
 7   ScenarioTypeStrict      object
 8   NumberOfCharacters      float64
 9   DiffNumberOFCharacters  float64
 10  Saved                   int64
 11  Man                     object
 12  Woman                   float64
 13  Pregnant                float64
 14  Stroller                float64
 15  OldMan                  float64
 16  OldWoman                float64
 17  Boy                     float64
 18  Girl                    float64
 19  Homeless                float64
 20  LargeWoman              float64
 21  LargeMan                float64
 22  Criminal                float64
 23  MaleExecutive           float64
 24  FemaleExecutive         float64
 25  FemaleAthlete           float64
 26  MaleAthlete             float64
 27  FemaleDoctor            float64
 28  MaleDoctor              float64
 29  Dog                     float64
 30  Cat                     float64
dtypes: float64(21), int64(6), object(4)
memory usage: 3.4+ GB

In [25]:
# Get the maximum float value across the entire DataFrame (ignoring non-numeric columns)
max_value = df_total_nw.select_dtypes(include=['float', 'int']).max().max()

print(f'Highest number in the dataset: {max_value}')

Highest number in the dataset: 5.0

In [26]:
# change datatypes of the columns

# Convert all float64 and int64 columns to int16
df_total_nw = df_total_nw.astype({col: 'int8' for col in df_total_nw.select_dtypes(include=['float64', 'int64']).columns})

# Convert all object columns to category
df_total_nw = df_total_nw.astype({col: 'category' for col in df_total_nw.select_dtypes(include=['object']).columns})

In [27]:
df_total_nw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14678398 entries, 0 to 14678397
Data columns (total 31 columns):
 #   Column                  Dtype
---  ------                  -----
 0   ResponseID              category
 1   UserID                  int8
 2   Intervention            int8
 3   PedPed                  int8
 4   Barrier                 int8
 5   CrossingSignal          int8
 6   AttributeLevel          category
 7   ScenarioTypeStrict      category
 8   NumberOfCharacters      int8
 9   DiffNumberOFCharacters  int8
 10  Saved                   int8
 11  Man                     category
 12  Woman                   int8
 13  Pregnant                int8
 14  Stroller                int8
 15  OldMan                  int8
 16  OldWoman                int8
 17  Boy                     int8
 18  Girl                    int8
 19  Homeless                int8
 20  LargeWoman              int8
 21  LargeMan                int8
 22  Criminal                int8
 23  MaleExecutive           int8
 24  FemaleExecutive         int8
 25  FemaleAthlete           int8
 26  MaleAthlete             int8
 27  FemaleDoctor            int8
 28  MaleDoctor              int8
 29  Dog                     int8
 30  Cat                     int8
dtypes: category(4), int8(27)
memory usage: 789.9 MB

In [28]:
df_total_nw.to_csv('total_nw_dataset.csv', index=False)