In [1]:
# reading datasets

import pandas as pd

df_mme = pd.read_csv('mme_dataset.csv')

In [2]:
df_mme.shape

(14384832, 36)

In [3]:
df_llm = pd.read_csv('llm_dataset.csv')

In [4]:
df_llm.shape

(293568, 36)

In [5]:
# concatanating the datasets, with mme later cause of ResponseID, and resetting the index

df_concat = pd.concat([df_llm, df_mme], axis=0)
df_total_complete = df_concat.reset_index(drop=True)

In [6]:
df_total_complete.shape

(14678400, 36)

In [7]:
df_total_complete.head()

,ResponseID,UserID,ScenarioOrder,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,ScenarioType,...,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
0,res_00000000,chatbot,0,0,0,1,0,Hoomans,Species,Species,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,res_00000000,chatbot,0,1,0,0,0,Pets,Species,Species,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0
2,res_00000001,chatbot,0,0,0,1,0,Male,Gender,Gender,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,res_00000001,chatbot,0,1,0,0,2,Female,Gender,Gender,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,res_00000002,chatbot,0,1,1,0,2,Young,Age,Age,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
df_total_complete.tail()

,ResponseID,UserID,ScenarioOrder,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,ScenarioType,...,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
14678395,res_07339197,2722777491.0,12,1,1,0,0,Less,Utilitarian,Utilitarian,...,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
14678396,res_07339198,8006215139757840.0,8,1,0,0,2,Fat,Fitness,Fitness,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14678397,res_07339198,3453341116.0,9,1,0,0,0,Male,Gender,Gender,...,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14678398,res_07339199,4126242148.0,3,1,1,0,1,Fat,Fitness,Fitness,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14678399,res_07339199,411438207332712.0,10,1,0,0,0,More,Utilitarian,Utilitarian,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [9]:
df_total_complete.columns

Index(['ResponseID', 'UserID', 'ScenarioOrder', 'Intervention', 'PedPed',
       'Barrier', 'CrossingSignal', 'AttributeLevel', 'ScenarioTypeStrict',
       'ScenarioType', 'NumberOfCharacters', 'DiffNumberOFCharacters', 'Saved',
       'DescriptionShown', 'LeftHand', 'UserCountry3', 'Man', 'Woman',
       'Pregnant', 'Stroller', 'OldMan', 'OldWoman', 'Boy', 'Girl', 'Homeless',
       'LargeWoman', 'LargeMan', 'Criminal', 'MaleExecutive',
       'FemaleExecutive', 'FemaleAthlete', 'MaleAthlete', 'FemaleDoctor',
       'MaleDoctor', 'Dog', 'Cat'],
      dtype='object')

In [10]:
# dropping the columns that are not needed

df_total = df_total_complete.drop(['ScenarioType', 'ScenarioOrder', 'DescriptionShown', 'LeftHand', 'UserCountry3'], axis=1)

In [11]:
df_total.shape

(14678400, 31)

In [12]:
# checking the missing values

df_total.isnull().sum()

# there are no missing values in the dataset

ResponseID                0
UserID                    0
Intervention              0
PedPed                    0
Barrier                   0
CrossingSignal            0
AttributeLevel            0
ScenarioTypeStrict        0
NumberOfCharacters        0
DiffNumberOFCharacters    0
Saved                     0
Man                       0
Woman                     0
Pregnant                  0
Stroller                  0
OldMan                    0
OldWoman                  0
Boy                       0
Girl                      0
Homeless                  0
LargeWoman                0
LargeMan                  0
Criminal                  0
MaleExecutive             0
FemaleExecutive           0
FemaleAthlete             0
MaleAthlete               0
FemaleDoctor              0
MaleDoctor                0
Dog                       0
Cat                       0
dtype: int64

In [13]:
# in between saving of the dataset

df_total.to_csv('total_dataset.csv', index=False)

In [14]:
# binarizing UserID
# we know from EDA of llm_dataset that userID for llms are always 'chatbot'. We will encode this as 1 and all other userIDs as 0 (which are humans)

df_total['UserID'] = df_total['UserID'].apply(lambda x: 1 if x == 'chatbot' else 0)

In [15]:
df_total['UserID'].value_counts()

UserID
0    14384832
1      293568
Name: count, dtype: int64

In [17]:
# checking if 2% is llm
df_total['UserID'].value_counts(normalize=True)

# yes it is true

UserID
0    0.98
1    0.02
Name: proportion, dtype: float64