## Mme total & llm's

In [1]:
# reading datasets

import pandas as pd

df_mme = pd.read_csv('mme_dataset.csv')

In [2]:
df_mme.shape

(14384832, 36)

In [3]:
# randomly taking a subsample of 4900000 (so total data is 5M) rows of this data to ensure *computational efficiency* later on
# have to do this while keeping both ResponseID


# taking a random subset of 4900000 / 2 of unique responseID's.
# then use this random subset of ID's to filter the data and write code to ensure both appearances of the ID are in the new df

In [4]:
4900000 / 2 =  2450000
# unique responseID's needed

In [90]:
# randomly keep 719242 unique responseID's

# Getting unique UserIDs
Response_unique = df_mme['ResponseID'].unique()
print(len(Response_unique))  # should be 14384832/2 = 7192416

# Selecting 719242 UserIDs from the unique set
Response_keep_mme = pd.Series(Response_unique).sample(n=2450000, random_state=42)
print(len(Response_keep_mme))  # should be 2450000

7192416
2450000

In [91]:
df_mme_sub = df_mme[df_mme['ResponseID'].isin(Response_keep_mme)]

In [92]:
df_mme_sub.shape

(4900000, 36)

In [93]:
df_mme_sub.duplicated().sum()

0

In [ ]:
"LLM"

In [96]:
df_llm = pd.read_csv('llm_dataset.csv')

In [97]:
df_llm.shape

(293568, 36)

In [11]:
# randomly keeping 5M - 4.9M of the dataset =  100.000 rows
# 100000 rows = 100000 / 2 = 50000 unique responseID's

In [98]:
# randomly keep 14678 unique responseID's LLM dataset

# Getting unique UserIDs
Response_unique = df_llm['ResponseID'].unique()
print(len(Response_unique))  # should be 293568/2 = 146784

# Selecting 719242 UserIDs from the unique set
Response_keep_llm = pd.Series(Response_unique).sample(n=50000, random_state=42)
print(len(Response_keep_llm))  # should be 50000

146784
50000

In [99]:
df_llm.head()

,ResponseID,UserID,ScenarioOrder,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,ScenarioType,NumberOfCharacters,DiffNumberOFCharacters,Saved,DescriptionShown,LeftHand,UserCountry3,Man,Woman,Pregnant,Stroller,OldMan,OldWoman,Boy,Girl,Homeless,LargeWoman,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
0,res_00000000,chatbot,0,0,0,1,0,Hoomans,Species,Species,3,0,0,1,1,JPN,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
1,res_00000000,chatbot,0,1,0,0,0,Pets,Species,Species,3,0,1,1,0,JPN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,2
2,res_00000001,chatbot,0,0,0,1,0,Male,Gender,Gender,2,0,0,1,1,JPN,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0
3,res_00000001,chatbot,0,1,0,0,2,Female,Gender,Gender,2,0,1,1,0,JPN,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0
4,res_00000002,chatbot,0,1,1,0,2,Young,Age,Age,1,0,1,1,1,JPN,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0

In [100]:
Response_keep_llm.head()

59310     res_00059310
139042    res_00139042
137237    res_00137237
40719     res_00040719
1697      res_00001697
dtype: object

In [101]:
df_llm_sub = df_llm[df_llm['ResponseID'].isin(Response_keep_llm)]

In [102]:
df_llm_sub.shape

# should be

(100000, 36)

In [103]:
df_llm_sub.duplicated().sum()

0

In [104]:
# concatanating the datasets, with mme after llm cause of ResponseID, and resetting the index

df_concat = pd.concat([df_llm_sub, df_mme_sub], axis=0)
df_total_complete = df_concat.reset_index(drop=True)

In [105]:
df_total_complete.shape

(5000000, 36)

In [106]:
df_total_complete.duplicated().sum()

0

In [107]:
df_total_complete.head()

,ResponseID,UserID,ScenarioOrder,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,ScenarioType,NumberOfCharacters,DiffNumberOFCharacters,Saved,DescriptionShown,LeftHand,UserCountry3,Man,Woman,Pregnant,Stroller,OldMan,OldWoman,Boy,Girl,Homeless,LargeWoman,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
0,res_00000000,chatbot,0,0,0,1,0,Hoomans,Species,Species,3.0,0.0,0,1.0,1.0,JPN,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,res_00000000,chatbot,0,1,0,0,0,Pets,Species,Species,3.0,0.0,1,1.0,0.0,JPN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0
2,res_00000003,chatbot,0,0,1,0,0,Hoomans,Species,Species,2.0,0.0,1,1.0,1.0,JPN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,res_00000003,chatbot,0,1,1,0,0,Pets,Species,Species,2.0,0.0,0,1.0,0.0,JPN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
4,res_00000004,chatbot,0,0,0,1,0,Fat,Fitness,Fitness,5.0,0.0,0,1.0,1.0,JPN,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [108]:
df_total_complete.tail()

,ResponseID,UserID,ScenarioOrder,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,ScenarioType,NumberOfCharacters,DiffNumberOFCharacters,Saved,DescriptionShown,LeftHand,UserCountry3,Man,Woman,Pregnant,Stroller,OldMan,OldWoman,Boy,Girl,Homeless,LargeWoman,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
4999995,res_07339190,7262996112833790.0,7,1,1,0,0,Old,Age,Age,3.0,0.0,0,0.0,1.0,JPN,0.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4999996,res_07339193,3586742183.0,6,1,1,0,2,Less,Utilitarian,Utilitarian,2.0,3.0,0,NaN,NaN,CAN,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4999997,res_07339194,838829685.0,4,1,1,0,0,More,Utilitarian,Utilitarian,5.0,1.0,1,NaN,NaN,CAN,1.0,0.0,0.0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4999998,res_07339196,8006215139757840.0,8,1,0,0,2,Fat,Fitness,Fitness,2.0,0.0,1,0.0,1.0,RUS,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4999999,res_07339197,3453341116.0,9,1,0,0,0,Male,Gender,Gender,4.0,0.0,1,1.0,0.0,FRA,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [109]:
df_total_complete.columns

Index(['ResponseID', 'UserID', 'ScenarioOrder', 'Intervention', 'PedPed',
       'Barrier', 'CrossingSignal', 'AttributeLevel', 'ScenarioTypeStrict',
       'ScenarioType', 'NumberOfCharacters', 'DiffNumberOFCharacters', 'Saved',
       'DescriptionShown', 'LeftHand', 'UserCountry3', 'Man', 'Woman',
       'Pregnant', 'Stroller', 'OldMan', 'OldWoman', 'Boy', 'Girl', 'Homeless',
       'LargeWoman', 'LargeMan', 'Criminal', 'MaleExecutive',
       'FemaleExecutive', 'FemaleAthlete', 'MaleAthlete', 'FemaleDoctor',
       'MaleDoctor', 'Dog', 'Cat'],
      dtype='object')

In [110]:
# some EDA on the country column to assess the distribution of the user ethnicity/culture
# Can't do this later as then the column will be removed because of identifyable information - the LLM dataset does not have country information

# checking which countries are in the dataset, and what their frequency is
# need this for the comparison with the non_western_dataset

print(df_total_complete['UserCountry3'].value_counts())

UserCountry3
USA    1244136
DEU     319154
BRA     278198
FRA     275948
GBR     258514
        ...
PLW          2
SWZ          2
NIU          2
TON          2
GNQ          2
Name: count, Length: 225, dtype: int64

In [111]:
# List of countries considered 'Western' from the UN

countries = ["AND",  "AUS", "AUT", "BEL", "CAN", "CHE", "DNK", "DEU", "ESP", "FIN",  "FRA",  "GBR",  "GRC",  "IRL", 
            "ISR", "ISL", "ITA", "LIE", "LUX", "MLT", "MCO", "NLD", "NOR", "NZL", "PRT", "SMR", "SWE", "TUR", "USA" ]

# Andorra, Australia, Austria, Belgium, Canada, Switzerland, Denmark, Germany, Spain, Finland, France, United Kingdom, Greece, Ireland, 
# Israel, Iceland, Italy, Liechtenstein, Luxembourg, Malta, Monaco, Netherlands, Norway, New Zealand, Portugal, San Marino, Sweden, Turkey, USA

In [112]:
# what number of rows that is from western countries?

total_western = df_total_complete['UserCountry3'].isin(countries).sum()
print(f"Number of rows Western: {total_western}")

# this is % of the dataset that is from Western countries
print(f"Rounded % Western: {round(total_western /len(df_total_complete)*100)}")    # rounded percentage
print(f"Unrounded % Western: {total_western /len(df_total_complete)*100}")           # exact percentage

Number of rows Western: 3379232
Rounded % Western: 68
Unrounded % Western: 67.58464

In [113]:
# showing all the columns
pd.set_option('display.max_columns', None)

In [114]:
df_total_complete['ResponseID'].value_counts().min()

2

In [115]:
df_total_complete['ResponseID'].value_counts().max()

2

In [116]:
df_total_complete['UserID'].nunique()

1197787

In [117]:
df_total_complete.tail(10)

,ResponseID,UserID,ScenarioOrder,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,ScenarioType,NumberOfCharacters,DiffNumberOFCharacters,Saved,DescriptionShown,LeftHand,UserCountry3,Man,Woman,Pregnant,Stroller,OldMan,OldWoman,Boy,Girl,Homeless,LargeWoman,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
4999990,res_07339172,4908319653307890.0,10,1,0,0,0,Male,Gender,Gender,5.0,0.0,0,1.0,1.0,PHL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4999991,res_07339177,370858863635021.0,4,1,0,1,0,Less,Utilitarian,Utilitarian,1.0,4.0,0,0.0,1.0,ROU,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4999992,res_07339179,8180882292750350.0,4,1,0,0,0,Fat,Fitness,Fitness,4.0,0.0,0,1.0,0.0,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4999993,res_07339181,1050864022.0,13,1,0,1,0,Old,Age,Age,3.0,0.0,1,NaN,NaN,USA,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4999994,res_07339185,7957486208320400.0,6,1,1,0,0,Male,Gender,Gender,2.0,0.0,0,1.0,0.0,USA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4999995,res_07339190,7262996112833790.0,7,1,1,0,0,Old,Age,Age,3.0,0.0,0,0.0,1.0,JPN,0.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4999996,res_07339193,3586742183.0,6,1,1,0,2,Less,Utilitarian,Utilitarian,2.0,3.0,0,NaN,NaN,CAN,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4999997,res_07339194,838829685.0,4,1,1,0,0,More,Utilitarian,Utilitarian,5.0,1.0,1,NaN,NaN,CAN,1.0,0.0,0.0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4999998,res_07339196,8006215139757840.0,8,1,0,0,2,Fat,Fitness,Fitness,2.0,0.0,1,0.0,1.0,RUS,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4999999,res_07339197,3453341116.0,9,1,0,0,0,Male,Gender,Gender,4.0,0.0,1,1.0,0.0,FRA,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [118]:
# dropping the columns that are not needed

df_total = df_total_complete.drop(['ScenarioType', 'ScenarioOrder', 'DescriptionShown', 'LeftHand', 'UserCountry3'], axis=1)

In [119]:
df_total.shape

(5000000, 31)

In [120]:
dupli = df_total.duplicated().sum()

In [121]:
print(f"Number of duplicates: {dupli}")

Number of duplicates: 0

In [122]:
# checking the missing values

df_total.isnull().sum().sum()

# there are no missing values in the dataset

0

In [123]:
# binarizing UserID
# we know from EDA of llm_dataset that userID for llms are always 'chatbot'. We will encode this as 1 and all other userIDs as 0 (which are humans)

df_total['UserID'] = df_total['UserID'].apply(lambda x: 1 if x == 'chatbot' else 0)

In [124]:
df_total['UserID'].value_counts()

UserID
0    4900000
1     100000
Name: count, dtype: int64

In [126]:
# checking if 2% is llm
print(df_total['UserID'].value_counts(normalize=True))

# yes it is true

UserID
0    0.98
1    0.02
Name: proportion, dtype: float64

In [127]:
# randomly shuffling the dataset so that not all llm's are on top of the dataset

df_total = df_total.sample(frac=1, random_state=42).reset_index(drop=True)

In [128]:
df_total.head(10)

,ResponseID,UserID,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,NumberOfCharacters,DiffNumberOFCharacters,Saved,Man,Woman,Pregnant,Stroller,OldMan,OldWoman,Boy,Girl,Homeless,LargeWoman,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
0,res_03164432,0,1,0,1,0,Less,Utilitarian,3.0,2.0,0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,res_07321524,0,1,1,0,1,Fit,Fitness,3.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0
2,res_04684326,0,1,0,1,0,Pets,Species,1.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,res_05639606,0,1,1,0,1,Fat,Fitness,2.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,res_01716360,0,0,0,0,2,Female,Gender,5.0,0.0,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
5,res_00885589,0,1,0,0,2,Hoomans,Species,1.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
6,res_01952509,0,1,0,1,0,More,Utilitarian,5.0,2.0,0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
7,res_04881791,0,1,1,0,0,Male,Gender,2.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
8,res_00857528,0,0,0,1,0,Male,Gender,5.0,0.0,0,1.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
9,res_01704265,0,1,1,0,0,Female,Gender,3.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0

In [129]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000000 entries, 0 to 4999999
Data columns (total 31 columns):
 #   Column                  Dtype
---  ------                  -----
 0   ResponseID              object
 1   UserID                  int64
 2   Intervention            int64
 3   PedPed                  int64
 4   Barrier                 int64
 5   CrossingSignal          int64
 6   AttributeLevel          object
 7   ScenarioTypeStrict      object
 8   NumberOfCharacters      float64
 9   DiffNumberOFCharacters  float64
 10  Saved                   int64
 11  Man                     float64
 12  Woman                   float64
 13  Pregnant                float64
 14  Stroller                float64
 15  OldMan                  float64
 16  OldWoman                float64
 17  Boy                     float64
 18  Girl                    float64
 19  Homeless                float64
 20  LargeWoman              float64
 21  LargeMan                float64
 22  Criminal                float64
 23  MaleExecutive           float64
 24  FemaleExecutive         float64
 25  FemaleAthlete           float64
 26  MaleAthlete             float64
 27  FemaleDoctor            float64
 28  MaleDoctor              float64
 29  Dog                     float64
 30  Cat                     float64
dtypes: float64(22), int64(6), object(3)
memory usage: 1.2+ GB

In [130]:
# Get the maximum float value across the entire DataFrame (ignoring non-numeric columns)
max_value = df_total.select_dtypes(include=['float', 'int']).max().max()

print(f'Highest number in the dataset: {max_value}')

# can do int8 cause the max value is 5

Highest number in the dataset: 5.0

In [131]:
# change datatypes of the columns

# Convert all float64 and int64 columns to int8
df_total = df_total.astype({col: 'int8' for col in df_total.select_dtypes(include=['float64', 'int64']).columns})

# Convert all object columns to category
df_total = df_total.astype({col: 'category' for col in df_total.select_dtypes(include=['object']).columns})

In [132]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000000 entries, 0 to 4999999
Data columns (total 31 columns):
 #   Column                  Dtype
---  ------                  -----
 0   ResponseID              category
 1   UserID                  int8
 2   Intervention            int8
 3   PedPed                  int8
 4   Barrier                 int8
 5   CrossingSignal          int8
 6   AttributeLevel          category
 7   ScenarioTypeStrict      category
 8   NumberOfCharacters      int8
 9   DiffNumberOFCharacters  int8
 10  Saved                   int8
 11  Man                     int8
 12  Woman                   int8
 13  Pregnant                int8
 14  Stroller                int8
 15  OldMan                  int8
 16  OldWoman                int8
 17  Boy                     int8
 18  Girl                    int8
 19  Homeless                int8
 20  LargeWoman              int8
 21  LargeMan                int8
 22  Criminal                int8
 23  MaleExecutive           int8
 24  FemaleExecutive         int8
 25  FemaleAthlete           int8
 26  MaleAthlete             int8
 27  FemaleDoctor            int8
 28  MaleDoctor              int8
 29  Dog                     int8
 30  Cat                     int8
dtypes: category(3), int8(28)
memory usage: 245.7 MB

In [133]:
print(len(df_total))
print(len(df_total)/100*2)
print(len(df_total)/100*98)

5000000
100000.0
4900000.0

In [134]:
# saving the dataset
df_total.to_csv('sub_dataset.csv', index=False)

## Mme Non-Western & llm's

In [50]:
 # reading datasets

import pandas as pd

df_nw = pd.read_csv('non_western_dataset.csv')

C:\Users\esmku\AppData\Local\Temp\ipykernel_28012\3287123380.py:5: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  df_nw = pd.read_csv('non_western_dataset.csv')

In [51]:
df_nw.shape

(14384832, 36)

In [135]:
# randomly taking a subsample of 4900000 (so total data is 5M) rows of this data to ensure *computational efficiency* later on
# have to do this while keeping both ResponseID


# taking a random subset of 4900000 / 2 of unique responseID's.
# then use this random subset of ID's to filter the data and write code to ensure both appearances of the ID are in the new df

In [137]:
4900000 / 2 == 2450000
# unique responseID's needed

True

In [138]:
# randomly keep 2450000 unique responseID's

# Getting unique UserIDs
Response_unique_nw = df_nw['ResponseID'].unique()
print(len(Response_unique_nw))  # should be 14384832/2 = 7192416

# Selecting 2450000 UserIDs from the unique set
Response_keep_nw = pd.Series(Response_unique_nw).sample(n=2450000, random_state=42)
print(len(Response_keep_nw))  # should be 2450000

7192416
2450000

In [139]:
df_nw_sub = df_nw[df_nw['ResponseID'].isin(Response_keep_nw)]

In [140]:
df_nw_sub.shape

(4900000, 36)

In [141]:
df_nw_sub.duplicated().sum()

0

In [142]:
# use the same df_llm_subset from above

In [143]:
df_nw_sub.shape

(4900000, 36)

In [144]:
# concatanating the datasets, with mme later cause of ResponseID, and resetting the index

df_concat = pd.concat([df_llm_sub, df_nw_sub], axis=0)
df_total_complete_nw = df_concat.reset_index(drop=True)

In [145]:
df_total_complete_nw.shape

(5000000, 36)

In [146]:
df_total_complete_nw.head()

,ResponseID,UserID,ScenarioOrder,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,ScenarioType,NumberOfCharacters,DiffNumberOFCharacters,Saved,DescriptionShown,LeftHand,UserCountry3,Man,Woman,Pregnant,Stroller,OldMan,OldWoman,Boy,Girl,Homeless,LargeWoman,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
0,res_00000000,chatbot,0,0,0,1,0,Hoomans,Species,Species,3.0,0.0,0,1.0,1.0,JPN,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,res_00000000,chatbot,0,1,0,0,0,Pets,Species,Species,3.0,0.0,1,1.0,0.0,JPN,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0
2,res_00000003,chatbot,0,0,1,0,0,Hoomans,Species,Species,2.0,0.0,1,1.0,1.0,JPN,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,res_00000003,chatbot,0,1,1,0,0,Pets,Species,Species,2.0,0.0,0,1.0,0.0,JPN,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
4,res_00000004,chatbot,0,0,0,1,0,Fat,Fitness,Fitness,5.0,0.0,0,1.0,1.0,JPN,1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [147]:
df_total_complete_nw.tail()

,ResponseID,UserID,ScenarioOrder,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,ScenarioType,NumberOfCharacters,DiffNumberOFCharacters,Saved,DescriptionShown,LeftHand,UserCountry3,Man,Woman,Pregnant,Stroller,OldMan,OldWoman,Boy,Girl,Homeless,LargeWoman,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
4999995,res_07339190,9465514998451630.0,10,1,1,0,1,Pets,Species,Species,1.0,0.0,1,0.0,0.0,EGY,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4999996,res_07339193,1456185995.0,6,1,1,0,1,Young,Age,Age,3.0,0.0,0,NaN,NaN,THA,0.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4999997,res_07339194,4846540250658520.0,1,1,1,0,1,Female,Gender,Gender,1.0,0.0,0,0.0,0.0,JPN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4999998,res_07339196,8584219519940750.0,6,1,1,0,1,Pets,Species,Species,4.0,0.0,1,0.0,0.0,CHN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0
4999999,res_07339197,1451013350.0,1,1,1,0,0,More,Utilitarian,Utilitarian,5.0,4.0,1,0.0,0.0,LVA,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [148]:
df_total_complete_nw.columns

Index(['ResponseID', 'UserID', 'ScenarioOrder', 'Intervention', 'PedPed',
       'Barrier', 'CrossingSignal', 'AttributeLevel', 'ScenarioTypeStrict',
       'ScenarioType', 'NumberOfCharacters', 'DiffNumberOFCharacters', 'Saved',
       'DescriptionShown', 'LeftHand', 'UserCountry3', 'Man', 'Woman',
       'Pregnant', 'Stroller', 'OldMan', 'OldWoman', 'Boy', 'Girl', 'Homeless',
       'LargeWoman', 'LargeMan', 'Criminal', 'MaleExecutive',
       'FemaleExecutive', 'FemaleAthlete', 'MaleAthlete', 'FemaleDoctor',
       'MaleDoctor', 'Dog', 'Cat'],
      dtype='object')

In [149]:
# dropping the columns that are not needed

df_total_nw = df_total_complete_nw.drop(['ScenarioType', 'ScenarioOrder', 'DescriptionShown', 'LeftHand', 'UserCountry3'], axis=1)

In [150]:
df_total_nw.shape

(5000000, 31)

In [151]:
# checking the missing values

df_total_nw.isnull().sum()

ResponseID                0
UserID                    0
Intervention              0
PedPed                    0
Barrier                   0
CrossingSignal            0
AttributeLevel            0
ScenarioTypeStrict        0
NumberOfCharacters        2
DiffNumberOFCharacters    2
Saved                     0
Man                       1
Woman                     2
Pregnant                  2
Stroller                  2
OldMan                    2
OldWoman                  2
Boy                       2
Girl                      2
Homeless                  2
LargeWoman                2
LargeMan                  2
Criminal                  2
MaleExecutive             2
FemaleExecutive           2
FemaleAthlete             2
MaleAthlete               2
FemaleDoctor              2
MaleDoctor                2
Dog                       2
Cat                       2
dtype: int64

In [152]:
# dropping the rows with missing values as they are so few it is insignificant to the dataset

df_total_nw = df_total_nw.dropna()

In [153]:
df_total_nw.shape

(4999998, 31)

In [154]:
df_total_nw.isnull().sum()

ResponseID                0
UserID                    0
Intervention              0
PedPed                    0
Barrier                   0
CrossingSignal            0
AttributeLevel            0
ScenarioTypeStrict        0
NumberOfCharacters        0
DiffNumberOFCharacters    0
Saved                     0
Man                       0
Woman                     0
Pregnant                  0
Stroller                  0
OldMan                    0
OldWoman                  0
Boy                       0
Girl                      0
Homeless                  0
LargeWoman                0
LargeMan                  0
Criminal                  0
MaleExecutive             0
FemaleExecutive           0
FemaleAthlete             0
MaleAthlete               0
FemaleDoctor              0
MaleDoctor                0
Dog                       0
Cat                       0
dtype: int64

In [155]:
# binarizing UserID
# we know from EDA of llm_dataset that userID for llms are always 'chatbot'. We will encode this as 1 and all other userIDs as 0 (which are humans)

df_total_nw['UserID'] = df_total_nw['UserID'].apply(lambda x: 1 if x == 'chatbot' else 0)

In [156]:
df_total_nw['UserID'].value_counts()

UserID
0    4899998
1     100000
Name: count, dtype: int64

In [157]:
# checking if 2% is llm
df_total_nw['UserID'].value_counts(normalize=True)

# yes it is true (because of the removal of 2 NAN rows, the % is actually 2.0000002725%, but that is close enough to 2%)

UserID
0    0.98
1    0.02
Name: proportion, dtype: float64

In [158]:
# randomly shuffling the dataset so that not all llm's are on top of the dataset

df_total_nw = df_total_nw.sample(frac=1, random_state=42).reset_index(drop=True)

In [159]:
dupli_nw = df_total_nw.duplicated().sum()

In [160]:
print(f"Number of duplicates: {dupli_nw}")

Number of duplicates: 0

In [161]:
print(df_total_nw['ResponseID'].value_counts().min())
print(df_total_nw['ResponseID'].value_counts().max())

2
2

In [162]:
df_total_nw.head(10)

,ResponseID,UserID,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,NumberOfCharacters,DiffNumberOFCharacters,Saved,Man,Woman,Pregnant,Stroller,OldMan,OldWoman,Boy,Girl,Homeless,LargeWoman,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
0,res_01753718,0,1,0,0,2,Hoomans,Species,3.0,0.0,1,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,res_00155806,0,0,1,0,0,High,Social Status,1.0,0.0,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,res_02687487,0,0,1,0,0,Rand,Fitness,3.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0
3,res_06258444,0,0,0,0,2,Young,Age,3.0,0.0,1,0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,res_03516364,0,1,0,0,1,Old,Age,5.0,0.0,0,0.0,2.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,res_02698475,0,1,1,0,0,More,Utilitarian,5.0,2.0,1,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
6,res_07248621,0,1,0,0,0,Hoomans,Species,3.0,0.0,1,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,res_02343615,0,0,1,0,1,More,Utilitarian,5.0,4.0,1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
8,res_05419221,0,1,0,1,0,More,Utilitarian,5.0,2.0,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
9,res_00212397,0,0,1,0,0,Female,Gender,5.0,0.0,0,0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0

In [163]:
df_total_nw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4999998 entries, 0 to 4999997
Data columns (total 31 columns):
 #   Column                  Dtype
---  ------                  -----
 0   ResponseID              object
 1   UserID                  int64
 2   Intervention            int64
 3   PedPed                  int64
 4   Barrier                 int64
 5   CrossingSignal          int64
 6   AttributeLevel          object
 7   ScenarioTypeStrict      object
 8   NumberOfCharacters      float64
 9   DiffNumberOFCharacters  float64
 10  Saved                   int64
 11  Man                     object
 12  Woman                   float64
 13  Pregnant                float64
 14  Stroller                float64
 15  OldMan                  float64
 16  OldWoman                float64
 17  Boy                     float64
 18  Girl                    float64
 19  Homeless                float64
 20  LargeWoman              float64
 21  LargeMan                float64
 22  Criminal                float64
 23  MaleExecutive           float64
 24  FemaleExecutive         float64
 25  FemaleAthlete           float64
 26  MaleAthlete             float64
 27  FemaleDoctor            float64
 28  MaleDoctor              float64
 29  Dog                     float64
 30  Cat                     float64
dtypes: float64(21), int64(6), object(4)
memory usage: 1.2+ GB

In [164]:
# Get the maximum float value across the entire DataFrame (ignoring non-numeric columns)
max_value = df_total_nw.select_dtypes(include=['float', 'int']).max().max()

print(f'Highest number in the dataset: {max_value}')

Highest number in the dataset: 5.0

In [165]:
# change datatypes of the columns

# Convert all float64 and int64 columns to int16
df_total_nw = df_total_nw.astype({col: 'int8' for col in df_total_nw.select_dtypes(include=['float64', 'int64']).columns})

# Convert all object columns to category
df_total_nw = df_total_nw.astype({col: 'category' for col in df_total_nw.select_dtypes(include=['object']).columns})

In [166]:
df_total_nw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4999998 entries, 0 to 4999997
Data columns (total 31 columns):
 #   Column                  Dtype
---  ------                  -----
 0   ResponseID              category
 1   UserID                  int8
 2   Intervention            int8
 3   PedPed                  int8
 4   Barrier                 int8
 5   CrossingSignal          int8
 6   AttributeLevel          category
 7   ScenarioTypeStrict      category
 8   NumberOfCharacters      int8
 9   DiffNumberOFCharacters  int8
 10  Saved                   int8
 11  Man                     category
 12  Woman                   int8
 13  Pregnant                int8
 14  Stroller                int8
 15  OldMan                  int8
 16  OldWoman                int8
 17  Boy                     int8
 18  Girl                    int8
 19  Homeless                int8
 20  LargeWoman              int8
 21  LargeMan                int8
 22  Criminal                int8
 23  MaleExecutive           int8
 24  FemaleExecutive         int8
 25  FemaleAthlete           int8
 26  MaleAthlete             int8
 27  FemaleDoctor            int8
 28  MaleDoctor              int8
 29  Dog                     int8
 30  Cat                     int8
dtypes: category(4), int8(27)
memory usage: 245.7 MB

In [167]:
df_total_nw.to_csv('sub_nw_dataset.csv', index=False)